.step-block .ajax-progress-throbber, .comment-block .ajax-progress-throbber, .content .ajax-progress-throbber {
  display: none;
}
.fancybox-wrap .ajax-progress-throbber {
  display: none;
}

.content-agenda .empty-msg {
  padding: 10px 17px;
}

.popup .btn-line input.ico-yes {
  background: #3b97f5 url("../images/ico-yes.png") no-repeat 30px 12px;
  cursor: pointer;
  display: inline-block;
  height: 34px;
  width: 108px;
  border: 1px solid #d8dfe7;
  vertical-align: top;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  color: #fff;
  padding: 0 35px;
}

.form-comment textarea {
  background-color: #fff;
  border: 1px solid #bfc8d1;
  border-radius: 4px;
  font-family: "noto_sans",Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-style: italic;
  height: 36px;
  padding: 0 15px;
  width: 100%;
  resize: none;
  line-height: 32px;
}

.secondary .form-comment textarea {
  font-size: 12px;
  height: 24px;
  padding: 0 8px;
  line-height: 22px;
}

.form-comment textarea::-moz-placeholder {
  color: #9facb8;
}

textarea::-moz-placeholder {
  color: #586877;
  opacity: 1;
}

.news-content span.empty-links {
  font-size: 11px;
  font-weight: 300;
  line-height: 14px;
  overflow: hidden;
  padding-bottom: 10px;
}

.comment-box .photo .img .ico, .comment .photo .img .ico {
  color: #fff;
  font-size: 23px;
  line-height: 34px;
}

.ajax-comments-form-reply .secondary .photo .img .ico, .indented .comment .photo .img .ico {
  font-size: 16px;
  line-height: 22px;
}

.comment-box .photo .img, .comment .photo .img {
  background: #2375c9 none repeat scroll 0 0;
  border-radius: 100px;
  height: 36px;
  width: 36px;
  overflow: hidden;
  text-align: center;
}

.maintenance-page .maintenance-page-message {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-30%,0);
  -moz-transform: translate3d(-50%,-30%,0);
  -ms-transform: translate3d(-50%,-30%,0);
  -o-transform: translate3d(-50%,-30%,0);
  transform: translate3d(-50%,-30%,0);
}