a[href]:after {
  content: ''; }

abbr[title]:after {
  content: ""; }

a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: ""; }

html {
  height: 100%; }

body {
  overflow: visible;
  position: relative;
  height: 100%; }

#sidebar {
  display: none; }

nav {
  display: none; }

.account-nav {
  display: none; }

header {
  overflow: hidden;
  background: #3a97f6 !important;
  width: 100%;
  position: relative;
  display: none; }
  header .head {
    float: none;
    margin: 0 auto; }

#content {
  width: 100%;
  overflow: hidden;
  position: relative;
  float: none; }

.agenda-holder {
  width: 100%; }
  .agenda-holder .right-box {
    width: 100%; }
  .agenda-holder .head {
    width: 100%;
    overflow: hidden;
    /*position: relative;*/
    page-break-after: avoid;
    page-break-before: avoid;
    page-break-inside: avoid; }
    .agenda-holder .head:before {
      background: #f2f5f7 !important; }
    .agenda-holder .head .left-box {
      opacity: 0; }
  .agenda-holder .right-box {
    border-left: 2px solid #d8dfe7; }

.jcf-scrollable-wrapper {
  width: 100% !important;
  height: auto !important; }

.jcf-scrollbar-vertical {
  display: none !important; }

.agenda-holder {
  overflow: hidden; }
  .agenda-holder .head:before {
    background: #f2f5f7 !important; }
  .agenda-holder .left-box:after {
    background: #fff  !important; }
  .agenda-holder .right-box {
    float: right;
    width: calc(100% - 150px);
    border-left: 2px solid #d8dfe7; }

.month-holder .block {
  display: inline-block;
  width: 33.33% !important; }
  .month-holder .block:first-child .week .box:first-child {
    border: 0; }
  .month-holder .block:last-child .month span {
    margin-right: 5px; }
  @media only screen and (max-width: 1024px) {
    .month-holder .block:nth-child(2) .month span {
      margin-right: 5px; } }

.month-holder .month {
  color: #9facb8 !important;
  background: #f2f5f7 !important; }
  .month-holder .month span {
    background: url("../images/dotted.png") repeat-x 0 100% !important; }
    .month-holder .month span:after, .month-holder .month span:before {
      background: #d8dfe7 !important; }

.month-holder .week .box {
  border-left: 1px solid #e4ebf3; }
  .month-holder .week .box.current {
    background: rgba(255, 147, 0, 0.07) !important; }

.month-holder .week .date {
  color: #9facb8 !important; }

.month-holder .week .num-week {
  color: #3b97f5 !important; }

#main {
  min-height: 0 !important; }

.content-agenda {
  height: 100% !important;
  overflow: visible !important; }
  .content-agenda .week .box {
    border-left: 1px solid #e4ebf3; }
    .content-agenda .week .box:first-child {
      border-color: #bfc8d1; }
    .content-agenda .week .box.current {
      background: rgba(255, 147, 0, 0.07) !important; }
  .content-agenda .week .date {
    color: #9facb8 !important; }
  .content-agenda .week .num-week {
    color: #3b97f5 !important; }
  .content-agenda .row-event {
    width: 100%;
    overflow: hidden;
    position: relative;
    /*page-break-after: auto;*/
    page-break-inside: avoid; }
    .content-agenda .row-event:last-child .line:last-child:after {
      background-color: #f2f5f7 !important; }
  .content-agenda .line {
    position: relative; }
    .content-agenda .line:last-child .week .box:after {
      background-color: #f2f5f7 !important; }
  .content-agenda .event {
    background-color: #9facb8 !important; }
  .content-agenda .more-after:after, .content-agenda .more-after:before,
  .content-agenda .more-before:after,
  .content-agenda .more-before:before {
    background-color: #9facb8 !important; }
  .content-agenda .more-before-tablet:after, .content-agenda .more-before-tablet:before,
  .content-agenda .more-after-tablet:after,
  .content-agenda .more-after-tablet:before {
    background-color: #9facb8 !important; }

.event-name {
  border-right: 10px solid #9facb8; }

.link-events {
  background: #fff !important;
  color: #9facb8 !important; }

/*color theme*/
.challenges .event-name {
  color: #6bd4f7 !important; }
  .challenges .event-name span {
    color: #6bd4f7 !important; }
    .challenges .event-name span:before {
      color: #6bd4f7 !important; }

.challenges .link-events {
  color: #6bd4f7 !important; }

.challenges .event {
  background: rgba(107, 211, 247, 0.8) !important; }

.challenges .more-after:after, .challenges .more-after:before,
.challenges .more-before:after,
.challenges .more-before:before,
.challenges .more-after-tablet:after,
.challenges .more-after-tablet:before,
.challenges .more-before-tablet:after,
.challenges .more-before-tablet:before {
  background: rgba(107, 211, 247, 0.8) !important; }

.challenges .event-name {
  border-color: #6bd4f7; }

.animations .event-name {
  color: #f97767 !important; }
  .animations .event-name span {
    color: #f97767 !important; }
    .animations .event-name span:before {
      color: #f97767 !important; }

.animations .link-events {
  color: #f97767 !important; }

.animations .event {
  background: rgba(249, 119, 103, 0.8) !important; }

.animations .more-after:after, .animations .more-after:before,
.animations .more-before:after,
.animations .more-before:before,
.animations .more-after-tablet:after,
.animations .more-after-tablet:before,
.animations .more-before-tablet:after,
.animations .more-before-tablet:before {
  background: rgba(249, 119, 103, 0.8) !important; }

.animations .event-name {
  border-color: #f97767; }

.promotions .event-name {
  color: #fbce1f !important; }
  .promotions .event-name span {
    color: #fbce1f !important; }
    .promotions .event-name span:before {
      color: #fbce1f !important; }

.promotions .link-events {
  color: #fbce1f !important; }

.promotions .event {
  background: rgba(251, 205, 31, 0.8) !important; }

.promotions .more-after:after, .promotions .more-after:before,
.promotions .more-before:after,
.promotions .more-before:before,
.promotions .more-after-tablet:after,
.promotions .more-after-tablet:before,
.promotions .more-before-tablet:after,
.promotions .more-before-tablet:before {
  background: rgba(251, 205, 31, 0.8) !important; }

.promotions .event-name {
  border-color: #fbce1f; }

.event-popup {
  display: none !important; }

.popover {
  display: none !important; }

.theme-red .event-name {
  color: #ff4848 !important; }
  .theme-red .event-name span {
    color: #ff4848 !important; }
    .theme-red .event-name span:before {
      color: #ff4848 !important; }

.theme-red .link-events {
  color: #ff4848 !important; }

.theme-red .event {
  background: rgba(255, 72, 72, 0.8) !important; }

.theme-red .more-after:after, .theme-red .more-after:before,
.theme-red .more-before:after,
.theme-red .more-before:before,
.theme-red .more-after-tablet:after,
.theme-red .more-after-tablet:before,
.theme-red .more-before-tablet:after,
.theme-red .more-before-tablet:before {
  background: rgba(255, 72, 72, 0.8) !important; }

.theme-red .event-name {
  border-color: #ff4848; }

.theme-yellow .event-name {
  color: #fbce1f !important; }
  .theme-yellow .event-name span {
    color: #fbce1f !important; }
    .theme-yellow .event-name span:before {
      color: #fbce1f !important; }

.theme-yellow .link-events {
  color: #fbce1f !important; }

.theme-yellow .event {
  background: rgba(251, 206, 31, 0.8) !important; }

.theme-yellow .more-after:after, .theme-yellow .more-after:before,
.theme-yellow .more-before:after,
.theme-yellow .more-before:before,
.theme-yellow .more-after-tablet:after,
.theme-yellow .more-after-tablet:before,
.theme-yellow .more-before-tablet:after,
.theme-yellow .more-before-tablet:before {
  background: rgba(251, 206, 31, 0.8) !important; }

.theme-yellow .event-name {
  border-color: #fbce1f; }

.theme-blue .event-name {
  color: #677df9 !important; }
  .theme-blue .event-name span {
    color: #677df9 !important; }
    .theme-blue .event-name span:before {
      color: #677df9 !important; }

.theme-blue .link-events {
  color: #677df9 !important; }

.theme-blue .event {
  background: rgba(103, 125, 249, 0.8) !important; }

.theme-blue .more-after:after, .theme-blue .more-after:before,
.theme-blue .more-before:after,
.theme-blue .more-before:before,
.theme-blue .more-after-tablet:after,
.theme-blue .more-after-tablet:before,
.theme-blue .more-before-tablet:after,
.theme-blue .more-before-tablet:before {
  background: rgba(103, 125, 249, 0.8) !important; }

.theme-blue .event-name {
  border-color: #677df9; }

.theme-lilac .event-name {
  color: #dd79ff !important; }
  .theme-lilac .event-name span {
    color: #dd79ff !important; }
    .theme-lilac .event-name span:before {
      color: #dd79ff !important; }

.theme-lilac .link-events {
  color: #dd79ff !important; }

.theme-lilac .event {
  background: rgba(221, 121, 255, 0.8) !important; }

.theme-lilac .more-after:after, .theme-lilac .more-after:before,
.theme-lilac .more-before:after,
.theme-lilac .more-before:before,
.theme-lilac .more-after-tablet:after,
.theme-lilac .more-after-tablet:before,
.theme-lilac .more-before-tablet:after,
.theme-lilac .more-before-tablet:before {
  background: rgba(221, 121, 255, 0.8) !important; }

.theme-lilac .event-name {
  border-color: #dd79ff; }

.theme-green .event-name {
  color: #95e36c !important; }
  .theme-green .event-name span {
    color: #95e36c !important; }
    .theme-green .event-name span:before {
      color: #95e36c !important; }

.theme-green .link-events {
  color: #95e36c !important; }

.theme-green .event {
  background: #95e36c !important; }

.theme-green .more-after:after, .theme-green .more-after:before,
.theme-green .more-before:after,
.theme-green .more-before:before,
.theme-green .more-after-tablet:after,
.theme-green .more-after-tablet:before,
.theme-green .more-before-tablet:after,
.theme-green .more-before-tablet:before {
  background: #95e36c !important; }

.theme-green .event-name {
  border-color: #95e36c; }

.theme-light-blue .event-name {
  color: #6bd4f7 !important; }
  .theme-light-blue .event-name span {
    color: #6bd4f7 !important; }
    .theme-light-blue .event-name span:before {
      color: #6bd4f7 !important; }

.theme-light-blue .link-events {
  color: #6bd4f7 !important; }

.theme-light-blue .event {
  background: rgba(107, 212, 247, 0.8) !important; }

.theme-light-blue .more-after:after, .theme-light-blue .more-after:before,
.theme-light-blue .more-before:after,
.theme-light-blue .more-before:before,
.theme-light-blue .more-after-tablet:after,
.theme-light-blue .more-after-tablet:before,
.theme-light-blue .more-before-tablet:after,
.theme-light-blue .more-before-tablet:before {
  background: rgba(107, 212, 247, 0.8) !important; }

.theme-light-blue .event-name {
  border-color: #6bd4f7; }

.theme-light-red .event-name {
  color: #f97767 !important; }
  .theme-light-red .event-name span {
    color: #f97767 !important; }
    .theme-light-red .event-name span:before {
      color: #f97767 !important; }

.theme-light-red .link-events {
  color: #f97767 !important; }

.theme-light-red .event {
  background: rgba(249, 119, 103, 0.8) !important; }

.theme-light-red .more-after:after, .theme-light-red .more-after:before,
.theme-light-red .more-before:after,
.theme-light-red .more-before:before,
.theme-light-red .more-after-tablet:after,
.theme-light-red .more-after-tablet:before,
.theme-light-red .more-before-tablet:after,
.theme-light-red .more-before-tablet:before {
  background: rgba(249, 119, 103, 0.8) !important; }

.theme-light-red .event-name {
  border-color: #f97767; }

/*# sourceMappingURL=print.css.map */