@import "partials/helpers";
a[href]:after {
  content: '';
}
abbr[title]:after {
  content: "";
}
a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: ""; }
html{
  height: 100%;
}
body{
  overflow: visible;
  position: relative;
  height: 100%;
}
#sidebar{
  display: none;
}
nav{
  display: none;
}
.account-nav{
  display: none;
}
header{
  overflow: hidden;
  background: #3a97f6 !important;
  width: 100%;
  position: relative;
  display: none;

  .head{
    float: none;
    margin: 0 auto;
  }
}
#content{
  width: 100%;
  overflow: hidden;
  position: relative;
  float: none;
}
.agenda-holder{
  width: 100%;

  .right-box{
    width: 100%;
  }

  .head{
    width: 100%;
    overflow: hidden;
    /*position: relative;*/
    page-break-after: avoid;
    page-break-before: avoid;
    page-break-inside: avoid;

    &:before{
      background: $color-gray6 !important;
    }
    .left-box{
      opacity: 0;
    }
  }
  .left-box{

  }
  .right-box{
    border-left: 2px solid $color-gray3;
  }

}
.jcf-scrollable-wrapper{
  width: 100% !important;
  height: auto !important;
}
.jcf-scrollbar-vertical{
  display: none !important;
}

.agenda-holder{
  overflow: hidden;

  .head{


    &:before{
      background: $color-gray6 !important;
    }
  }
  .left-box{


    &:after{
      background: #fff  !important;
    }
  }
  .right-box{
    float: right;
    width: calc(100% - 150px);
    border-left: 2px solid $color-gray3 ;
  }

}
.month-holder{

  .block{
    display: inline-block;
    width: 33.33% !important;

    &:first-child{
      .week{
        .box{
          &:first-child{
            border: 0;
          }
        }
      }
    }
    &:last-child{
      .month{
        span{
          margin-right: 5px;
        }
      }
    }
    &:nth-child(2){
      .month{
        span{
          @include portrait{
            margin-right: 5px;
          }
        }
      }
    }
  }
  .month{
    color: $color-gray1 !important;
    background: $color-gray6 !important;

    span{
      background: url("../images/dotted.png") repeat-x 0 100% !important;

      &:after,
      &:before{

        background: $color-gray3 !important;
      }
    }
  }
  .week{


    .box{

      border-left: 1px solid $color-gray4;

      &.current{
        background: $color-current-agenda !important;
      }
    }
    .date{
      color: $color-gray1 !important;
    }
    .num-week{
      color: $color-blue3 !important;
    }
  }
}
#main{
  min-height: 0 !important;


}
.content-agenda{
  height: 100% !important;
  overflow: visible !important;
  .block{

  }
  .week{

    .box{

      border-left: 1px solid $color-gray4;


      &:first-child{
        border-color: $color-gray2;

      }
      &.current{
        background: $color-current-agenda !important;
      }
    }
    .date{
      color: $color-gray1 !important;
    }
    .num-week{
      color: $color-blue3 !important;
    }
  }
  .row-event{
    width: 100%;
    overflow: hidden;
    position: relative;
    /*page-break-after: auto;*/
    page-break-inside: avoid;

    &:last-child{
      .line{
        &:last-child{
          &:after{
            background-color: $color-gray6 !important;
          }
        }
      }
    }
  }
  .line{
    position: relative;


    &:last-child{

      .week{
        .box{

          &:after{
            background-color: $color-gray6 !important;
          }
        }
      }
    }
  }
  .frame{

  }
  .event{
    background-color: $color-gray1 !important;
  }
  .more-after,
  .more-before{

    &:after,
    &:before{
      background-color: $color-gray1 !important;
    }
  }

  .more-before-tablet,
  .more-after-tablet{

    &:after,
    &:before{
      background-color: $color-gray1 !important;
    }
  }

}
.event-name{
  border-right: 10px solid $color-gray1;
}
.link-events{
  background: $color-white !important;
  color: $color-gray1 !important;
}




/*color theme*/
.challenges{
  .event-name{
    color: $color-blue4 !important;
    span{
      color: $color-blue4 !important;

      &:before{
        color: $color-blue4 !important;
      }
    }
  }
  .link-events{
    color: $color-blue4 !important;
  }
  .event{
    background: rgba(107, 211, 247, 0.8) !important;
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(107, 211, 247, 0.8) !important;
    }
  }
  .event-name{
    border-color: $color-blue4;
  }
}
.animations{
  .event-name{
    color: $color-red2 !important;
    span{
      color: $color-red2 !important;

      &:before{
        color: $color-red2 !important;
      }
    }
  }
  .link-events{
    color: $color-red2 !important;
  }
  .event{
    background: rgba(249, 119, 103, 0.8) !important;
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(249, 119, 103, 0.8) !important;
    }
  }
  .event-name{
    border-color: $color-red2;
  }
}
.promotions{
  .event-name{
    color: $color-yellow2 !important;
    span{
      color: $color-yellow2 !important;

      &:before{
        color: $color-yellow2 !important;
      }
    }
  }
  .link-events{
    color: $color-yellow2 !important;
  }
  .event{
    background: rgba(251, 205, 31, 0.8) !important;
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(251, 205, 31, 0.8) !important;
    }
  }
  .event-name{
    border-color: $color-yellow2;
  }
}
.event-popup {
  display: none !important;
}
.popover{
  display: none !important;
}


.theme-red{
  .event-name{
    color: #ff4848 !important;
    span{
      color: #ff4848 !important;

      &:before{
        color: #ff4848 !important;
      }
    }
  }
  .link-events{
    color: #ff4848 !important;
  }
  .event{
    background: rgba(255, 72, 72, 0.8) !important;
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(255, 72, 72, 0.8) !important;
    }
  }
  .event-name{
    border-color: #ff4848;
  }
}

.theme-yellow{
  .event-name{
    color: #fbce1f !important;
    span{
      color: #fbce1f !important;

      &:before{
        color: #fbce1f !important;
      }
    }
  }
  .link-events{
    color: #fbce1f !important;
  }
  .event{
    background: rgba(251, 206, 31, 0.8) !important;
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(251, 206, 31, 0.8) !important;
    }
  }
  .event-name{
    border-color: #fbce1f;
  }
}

.theme-blue{
  .event-name{
    color: #677df9 !important;

    span{
      color: #677df9 !important;

      &:before{
        color: #677df9 !important;
      }
    }
  }
  .link-events{
    color: #677df9 !important;
  }
  .event{
    background: rgba(103, 125, 249, 0.8) !important;
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(103, 125, 249, 0.8) !important;
    }
  }
  .event-name{
    border-color: #677df9;
  }
}

.theme-lilac{
  .event-name{
    color: #dd79ff !important;
    span{
      color: #dd79ff !important;

      &:before{
        color: #dd79ff !important;
      }
    }
  }
  .link-events{
    color: #dd79ff !important;
  }
  .event{
    background: rgba(221, 121, 255, 0.8) !important;
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(221, 121, 255, 0.8) !important;
    }
  }
  .event-name{
    border-color: #dd79ff;
  }
}

.theme-green{
  .event-name{
    color: #95e36c !important;
    span{
      color: #95e36c !important;

      &:before{
        color: #95e36c !important;
      }
    }
  }
  .link-events{
    color: #95e36c !important;
  }
  .event{
    background: rgba(149, 227, 108, 1) !important;
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(149, 227, 108, 1) !important;
    }
  }
  .event-name{
    border-color: #95e36c;
  }
}

.theme-light-blue{
  .event-name{
    color: #6bd4f7 !important;
    span{
      color: #6bd4f7 !important;

      &:before{
        color: #6bd4f7 !important;
      }
    }
  }
  .link-events{
    color: #6bd4f7 !important;
  }
  .event{
    background: rgba(107, 212, 247, 0.8) !important;
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(107, 212, 247, 0.8) !important;
    }
  }
  .event-name{
    border-color: #6bd4f7;
  }
}

.theme-light-red{
  .event-name{
    color: #f97767 !important;
    span{
      color: #f97767 !important;

      &:before{
        color: #f97767 !important;
      }
    }
  }
  .link-events{
    color: #f97767 !important;
  }
  .event{
    background: rgba(249, 119, 103, 0.8) !important;
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(249, 119, 103, 0.8) !important;
    }
  }
  .event-name{
    border-color: #f97767;
  }
}
