body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body{
  color: $color-dark-blue4;
  font: 13px/18px $ubuntu;
  background: #ebf1f6;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
a {
  color: $color-dark-blue4;
  outline: none;
  text-decoration: none;
  outline:none;

  &:hover{
    text-decoration: none;
    color: $color-dark-blue4;
  }
  &:focus{
    color: $color-dark-blue4;
    text-decoration: none;
    outline:none;
  }
}

img{
  max-width: 100%;
  height: auto;
  border-style: none;
  vertical-align: top;
}

video, iframe, object, embed{ max-width: 100%; }

form,fieldset{
  margin: 0;
  padding: 0;
  border-style: none;
}

input, textarea, select {
  font: 100% $ubuntu;
  vertical-align: middle;
  color: $color-dark-blue4;
  outline: none;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea{
  background: #fff;
  margin: 0;
  -webkit-appearance: none;
  border: 1px solid #dcdcdc;
  padding: 9px;
  display: block;
  color: $color-dark-blue4;
  @include box-sizing(border-box);
  outline:none;
}
input {
  @include input-placeholder {
    color: $color-dark-blue4;
    opacity:1;
  }
  &:focus{
    @include input-placeholder {
      opacity:0;
    }
  }
}
textarea{
  @include input-placeholder {
    color: $color-dark-blue4;
    opacity:1;
  }
  &:focus{
    @include input-placeholder {
      opacity:0;
    }
  }
}
label{ vertical-align: middle; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
  @include box-sizing(border-box);
  border: 1px solid #dcdcdc;
  background: #fff;
  outline:none;
}

input[type="search"] { -webkit-appearance: none; }
input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
input[type="search"]::-webkit-search-decoration { display: none; }


blockquote, blockquote:before, blockquote:after, q, q:before, q:after { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote{
  padding: 0;
  margin: 0;
  border: 0;
  color: $color-dark-blue4;
  /*font-size: 25px;
  line-height: 37px;
  font-weight: 300;*/

  q{
    display: block;
    padding-bottom: 37px;

    p{
      margin: 0;
    }
  }
  cite{
    display: block;
    font-weight: bold;
    color: $color-dark-blue4;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    text-transform: uppercase;

    span{
      font-weight: normal;
      color: $color-dark-blue4;
      display: block;
      font-size: 13px;
      padding-top: 2px;
      text-transform: none;
    }
  }
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

table, caption, tbody, tfoot, thead, tr, th, td{
  border-collapse: collapse;
  border-spacing: 0;
}
th, td{
  border: 1px solid #dcdcdc;
  padding: 3px 7px;
  text-align: left;
  vertical-align: top;
}
th{
  border-color: #dcdcdc;
  text-align: center;
  vertical-align: middle;
}

dl dt{
  float: left;
  clear: left;
  padding-right: 4px;
  font-weight: normal;
}
.align-left{
  float: left !important;
}
.align-right{
  float: right !important;
}
.align-left-text{
  text-align: left;
}
.align-right-text{
  text-align: right;
}
.align-center-text{
  text-align: center;
}
.m1{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.m2{
  float: left;
  left:50%;
  position: relative;
}
.m3{
  @extend .m2;
  left:-50%;
}
h1{
  font-size: 44px;
  line-height: 50px;
  font-weight: normal;
}
h2{
  font-size: 31px;
  line-height: 36px;
  font-weight: normal;
}
h3{
  font-size: 25px;
  line-height: 29px;
  font-weight: normal;
}
h4{
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}
h5{
  font-size: 11px;
  line-height: 12px;
  font-weight: normal;
}
.svg-ico{
  width: 100%;
  height: 100%;
}
.wrapper{
  /*display: table;*/
  min-width:767px;
  /*min-width:747px;*/
  max-width: 1440px;
  width: 100%;
  /*width: 960px;*/
  height: 100%;
  margin: 0 auto;
  position: relative;
  @extend %clearfix;
}
#main{
  width: 100%;
  overflow: hidden;
  position: relative;

  .content{
    overflow: hidden;
  }
}
#sidebar,
#content{
  /*display: table-cell;*/
  float: left;
  vertical-align: top;
  box-sizing:border-box;
}
#sidebar{
  /*width: 18.8%;*/
  width: 180px;
  background: $color-dark-blue3;
  min-height: 100px;


  @include portrait{
    width: 48px;
  }
}
#content{
  background: $color-white;
  width: calc(100% - 180px);

  @include portrait{
    width: calc(100% - 48px);
  }
}

.jcf-scrollbar-vertical{
  background: none;
  width: 0;
  right:10px;
  opacity:0;
  z-index: 20;

  .jcf-scrollbar-handle{
    width: 8px;
    background: #93c4f5;
    /*border-radius: 100px;*/

    &:after,
    &:before{
      position: absolute;
      left: 0;
      top: -4px;
      width: 8px;
      height: 8px;
      background: #93c4f5;
      border-radius: 5px;
      content:'';
    }
    &:before{
      top:auto;
      bottom:-2px;
    }
  }
  .jcf-scrollbar-dec,
  .jcf-scrollbar-inc{
    opacity:0;
    width: 4px;
    visibility:hidden;
  }
}
.jcf-scrollbar-horizontal{
  height: 0 !important;
  width: 0 !important;

  .jcf-scrollbar-dec,
  .jcf-scrollbar-inc{
    width: 0;
    height: 0;
  }
  .jcf-scrollbar-slider{
    height: 0;
    display: block;
  }
  .jcf-scrollbar-handle{
    height: 0;
  }
}
.jcf-scrollable-wrapper{
  &:hover{
    .jcf-scrollbar-vertical{
      opacity:1;
    }
  }
}
.jcf-scrollable{
  width: 100% !important;
}
#global-throbber{
  float: right;
  width: 48px;
  height: 48px;
  padding: 8px;
}
/*.admin-menu,*/
.page-user-edit{
  height: auto;
  overflow: visible;
}
