/* fonts */

/* Ubuntu */
@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-regular/ubuntu-regular-webfont.eot');
  src: url('fonts/ubuntu-regular/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/ubuntu-regular/ubuntu-regular-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-regular/ubuntu-regular-webfont.woff') format('woff'),
       url('fonts/ubuntu-regular/ubuntu-regular-webfont.ttf') format('truetype'),
       url('fonts/ubuntu-regular/ubuntu-regular-webfont.svg#ubuntu') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-light/ubuntu-light-webfont.eot');
  src: url('fonts/ubuntu-light/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/ubuntu-light/ubuntu-light-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-light/ubuntu-light-webfont.woff') format('woff'),
       url('fonts/ubuntu-light/ubuntu-light-webfont.ttf') format('truetype'),
       url('fonts/ubuntu-light/ubuntu-light-webfont.svg#ubuntu') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-medium/ubuntu-medium-webfont.eot');
  src: url('fonts/ubuntu-medium/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/ubuntu-medium/ubuntu-medium-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-medium/ubuntu-medium-webfont.woff') format('woff'),
       url('fonts/ubuntu-medium/ubuntu-medium-webfont.ttf') format('truetype'),
       url('fonts/ubuntu-medium/ubuntu-medium-webfont.svg#ubuntu') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-bold/ubuntu-bold-webfont.eot');
  src: url('fonts/ubuntu-bold/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/ubuntu-bold/ubuntu-bold-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-bold/ubuntu-bold-webfont.woff') format('woff'),
       url('fonts/ubuntu-bold/ubuntu-bold-webfont.ttf') format('truetype'),
       url('fonts/ubuntu-bold/ubuntu-bold-webfont.svg#ubuntu') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-italic/ubuntu-italic-webfont.eot');
  src: url('fonts/ubuntu-italic/ubuntu-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/ubuntu-italic/ubuntu-italic-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-italic/ubuntu-italic-webfont.woff') format('woff'),
       url('fonts/ubuntu-italic/ubuntu-italic-webfont.ttf') format('truetype'),
       url('fonts/ubuntu-italic/ubuntu-italic-webfont.svg#ubuntu') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-lightitalic/ubuntu-lightitalic-webfont.eot');
  src: url('fonts/ubuntu-lightitalic/ubuntu-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/ubuntu-lightitalic/ubuntu-lightitalic-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-lightitalic/ubuntu-lightitalic-webfont.woff') format('woff'),
       url('fonts/ubuntu-lightitalic/ubuntu-lightitalic-webfont.ttf') format('truetype'),
       url('fonts/ubuntu-lightitalic/ubuntu-lightitalic-webfont.svg#ubuntu') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-mediumitalic/ubuntu-mediumitalic-webfont.eot');
  src: url('fonts/ubuntu-mediumitalic/ubuntu-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/ubuntu-mediumitalic/ubuntu-mediumitalic-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-mediumitalic/ubuntu-mediumitalic-webfont.woff') format('woff'),
       url('fonts/ubuntu-mediumitalic/ubuntu-mediumitalic-webfont.ttf') format('truetype'),
       url('fonts/ubuntu-mediumitalic/ubuntu-mediumitalic-webfont.svg#ubuntu') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-bolditalic/ubuntu-bolditalic-webfont.eot');
  src: url('fonts/ubuntu-bolditalic/ubuntu-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/ubuntu-bolditalic/ubuntu-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-bolditalic/ubuntu-bolditalic-webfont.woff') format('woff'),
       url('fonts/ubuntu-bolditalic/ubuntu-bolditalic-webfont.ttf') format('truetype'),
       url('fonts/ubuntu-bolditalic/ubuntu-bolditalic-webfont.svg#ubuntu') format('svg');
  font-weight: 700;
  font-style: italic;
}
/* Noto_Sans */
@font-face {
  font-family: 'noto_sans';
  src: url('fonts/notosans-regular/notosans-regular-webfont.eot');
  src: url('fonts/notosans-regular/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/notosans-regular/notosans-regular-webfont.woff2') format('woff2'),
       url('fonts/notosans-regular/notosans-regular-webfont.woff') format('woff'),
       url('fonts/notosans-regular/notosans-regular-webfont.ttf') format('truetype'),
       url('fonts/notosans-regular/notosans-regular-webfont.svg#noto_sans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'noto_sans';
  src: url('fonts/notosans-bold/notosans-bold-webfont.eot');
  src: url('fonts/notosans-bold/notosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/notosans-bold/notosans-bold-webfont.woff2') format('woff2'),
       url('fonts/notosans-bold/notosans-bold-webfont.woff') format('woff'),
       url('fonts/notosans-bold/notosans-bold-webfont.ttf') format('truetype'),
       url('fonts/notosans-bold/notosans-bold-webfont.svg#noto_sans') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'noto_sans';
  src: url('fonts/notosans-italic/notosans-italic-webfont.eot');
  src: url('fonts/notosans-italic/notosans-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/notosans-italic/notosans-italic-webfont.woff2') format('woff2'),
       url('fonts/notosans-italic/notosans-italic-webfont.woff') format('woff'),
       url('fonts/notosans-italic/notosans-italic-webfont.ttf') format('truetype'),
       url('fonts/notosans-italic/notosans-italic-webfont.svg#noto_sans') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'noto_sans';
  src: url('fonts/notosans-bolditalic/notosans-bolditalic-webfont.eot');
  src: url('fonts/notosans-bolditalic/notosans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/notosans-bolditalic/notosans-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/notosans-bolditalic/notosans-bolditalic-webfont.woff') format('woff'),
       url('fonts/notosans-bolditalic/notosans-bolditalic-webfont.ttf') format('truetype'),
       url('fonts/notosans-bolditalic/notosans-bolditalic-webfont.svg#noto_sans') format('svg');
  font-weight: 700;
  font-style: italic;
}

@import "_variables-ico";
