.aside-search{
  margin: -12px 9px 32px -11px;
  padding: 0 10px 0 10px;
  border-radius: 4px;
  border: 1px solid $color-dark-blue4;
  height: 30px;
  overflow: hidden;

  @include portrait{
    display: none;
  }

  input[type="text"]{
    float: left;
    padding: 5px 0;
    margin: 0;
    width: calc(100% - 18px);
    background: none;
    border: 0;
    box-sizing:border-box;
    color: $color-white;
    font-size: 14px;
    font-weight: 300;

    @include input-placeholder{
      color: $color-gray1;
      font-style: italic;
    }

  }
  input[type="submit"],
  button[type="submit"]{
    float: right;
    background: none;
    border: 0;
    padding: 6px 10px 6px 4px;
    margin: 0 -10px 0 0;
    text-align: center;

    .ico{
      font-size: 14px;
      color: #fff;
    }
  }
}
.form-assigned{
  .row-form{
    overflow: hidden;
    padding-bottom: 12px;
  }
  input[type="text"]{
    float: left;
    width: 100%;
    padding: 0 7px;
    margin: 0;
    border: 1px solid $color-gray2;
    border-radius: 4px;
    height: 30px;
    font-size: 14px;
    font-style: italic;

    @include input-placeholder{
      color: $color-gray1;
    }
    &.error{
      border: 1px solid #f97767;
      color: #f97767;
    }
  }
  .assigned-list{
    margin: 0 -8px;
    overflow: hidden;

    li{
      float: left;
      padding: 0 0 3px 8px;
      color: $color-white;
      font-size: 11px;
      font-weight: 600;

      span{
        background: $color-blue3;
        display: block;
        padding: 0 9px 0 5px;
      }
      .icon-close{
        color: $color-white;
        font-size: 6px;
        padding-right: 2px;
        position: relative;
        top:-1px;
      }
    }
  }
}
.form-comment{
  position: relative;
  top:-3px;

  input[type="text"]{
    width: 100%;
    height: 36px;
    background-color: $color-white;
    border: 1px solid $color-gray2;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 13px;
    font-family: $noto_sans;
    font-style: italic;

    &.error{
      border: 1px solid #f97767;
      color: #f97767;
    }

    @include input-placeholder{
      color: $color-gray1;
    }
  }
}
.secondary{
  .form-comment{
    input[type="text"]{
      height: 24px;
      font-size: 12px;
      padding: 0 8px;
    }
  }
}


.form-calendar{
  overflow: hidden;

  .w-sel{
    float: left;
    margin-right: 5px;

    select{
      width: 100%;
    }

    &.month{
      width: 95px;
      select{
        width: 95px;
      }
    }
    &.year{
      width: 85px;
    }
  }
  .submit{
    float: right;

    input{
      width: 37px;
      height: 30px;
      background: $color-white;
      border: 1px solid $color-blue2;
      border-radius: 4px;
      padding: 0;
      margin: 0;
      color: $color-blue3;
      font-size: 13px;
      font-weight: 700;
      display: block;
    }
  }
}
.jcf-select{
  &.jcf-select-custom-select{
    width: 100% !important;
    min-width: 0;
    border: 1px solid $color-blue2;
    background: $color-white;
    border-radius: 4px;
    height: 30px;
    margin: 0;
    overflow: hidden;
    cursor: pointer;

    .jcf-select-text{
      margin: 0 27px 0 8px;
      line-height: 28px;
      font-size: 13px;
      color: $color-dark-blue4;
      cursor: pointer;
    }
    .jcf-select-opener{
      background: $color-white;
      border-left: 1px solid $color-blue2;
      @extend .icon;
      cursor: pointer;

      &:after{
        content: $icon-down;
        color: $color-blue3;
        font-size: 11px;
        line-height: 28px;
      }
    }
    &.jcf-drop-active{
      border-radius: 4px 4px 0 0;
      .jcf-select-opener{
        &:after{
          content: $icon-up;
        }
      }
    }
  }
  &.jcf-focus{
    border: 1px solid $color-blue2 !important;

    .jcf-select-opener{
      border-color: $color-blue2 !important;
    }
  }
}
.jcf-select-drop{
  &.jcf-select-custom-select{
    .jcf-select-drop-content{
      border: 1px solid $color-blue2;
      border-radius: 0 0 4px 4px;
      overflow: hidden;
    }
    .jcf-list{
      .jcf-option{
        cursor: pointer;
      }
    }
  }
}

.form{
  .block{
    padding-bottom: 15px;
  }
  .description{
    padding: 5px;
  }
  .photo{
    padding-bottom: 15px;
  }
  legend{
    padding-bottom: 10px;
  }
  .row-form{
    width: 100%;
    @extend %clearfix;
    padding-bottom: 15px;
  }
  input[type="text"],
  input[type="password"],
  input.form-text{
    width: 389px;
    height: 36px;
    background: #fff;
    border: 1px solid #bfc8d1;
    border-radius: 4px;
    padding: 0 15px;
    margin: 0;
    color: #586877;

    @include input-placeholder{
      color: #9facb8;
      font-style: italic;
    }

    &:hover{
      border: 1px solid #9facb8;
    }
    &:focus{
      border: 1px solid #3b97f5;
    }
    &.error{
      border: 1px solid #f97767;
      color: #f97767;
    }
    &:disabled {
      background: #f2f5f7;
      border: 1px solid #bfc8d1;
    }
  }
  .w-sel{
    width: 389px;
  }
  .choose-list{
    margin: 0;
    padding: 0;
    list-style: none;

    li{
      overflow: hidden;
      padding-bottom: 6px;
    }
    label{
      color: #586877;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .form-item{
    label{
      color: #586877;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin: 0;
    }
  }
  button,
  a.button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"]{
    display: inline-block;
    height: 34px;
    background: #3b97f5;
    border: 1px solid #d8dfe7;
    vertical-align: top;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
    color: $color-white;
    padding: 0 35px;

    &:hover{
      background: #2375c9;
    }
    span{
      display: inline-block;
      text-align: right;
      margin-right: 4px;
    }
    .ico-yes{
      background: url("../images/ico-yes.png") no-repeat;
      width: 11px;
      height: 8px;
    }
    .ico-not{
      background: url("../images/ico-not.png") no-repeat;
      width: 11px;
      height: 8px;
    }
  }
}
.jcf-select-default-custom-select{
  width: 100%;
  height: 36px;
  background: #fff;
  border: 1px solid #bfc8d1;
  border-radius: 4px;
  overflow: hidden;
  margin: 0;

  &:hover{
    border: 1px solid #9facb8;

    .jcf-select-opener{
      border-left: 1px solid #9facb8;
    }
  }
  &.jcf-drop-focus{
    border: 1px solid #3b97f5;
  }
  &.jcf-drop-active{
    border: 1px solid #3b97f5;
    border-radius: 4px 4px 0 0;

    .jcf-select-opener{
      &:after{
        border-width: 0 5px 4px 5px;
        border-color: transparent transparent #3b97f5 transparent;
      }
    }
  }
  &.jcf-select-error{
    border: 1px solid #f97767;

    .jcf-select-opener{
      border-left: 1px solid #f97767;
    }
    .jcf-option-placeholder{
      color: #f97767;
    }
  }
  &.jcf-disabled{
    background: #f2f5f7 !important;
    border: 1px solid #bfc8d1;

    .jcf-select-text{
      color: #9facb8;
      cursor: default;
    }
    .jcf-select-opener{
      border-left: 1px solid #bfc8d1;
      background: #f2f5f7;
      cursor: default;
    }
  }
  .jcf-select-text{
    color: #586877;
    font-size: 13px;
    line-height: 36px;
    margin: 0 36px 0 15px;
    cursor: pointer;
    font-size: 13px;
  }
  .jcf-select-opener{
    width: 36px;
    height: 34px;
    border-left: 1px solid #bfc8d1;
    background: #fff;
    cursor: pointer;

    &:after{
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -2px 0 0 -5px;
      content:'';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 5px 0 5px;
      border-color: #586877 transparent transparent transparent;
    }
  }
  .jcf-option-placeholder {
    font-style: italic;
    color: #9facb8;
  }
  &.jcf-select-drop{
    height: auto;
    border: 0;
    overflow: hidden;
    background: none;
    border-radius: 0;

    .jcf-select-drop-content{
      border: 1px solid #3b97f5;
      overflow: hidden;
      background: #fff;
      border-radius: 0 0 4px 4px;
    }
    .jcf-option-placeholder{
      display: none;
    }
    .jcf-option{
      padding: 7px 15px;
      font-size: 13px;

      &.jcf-selected,
      &.jcf-hover{
        background: #bfc8d1;
      }
    }
  }
}

.jcf-checkbox{
  width: 24px;
  height: 24px;
  background: white;
  border: 1px solid #bfc8d1;
  border-radius: 4px;
  vertical-align: top;
  margin: 0 9px 0 0;

  input{
    cursor: pointer;
  }

  span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff;
    border-image: none;
    border-style: solid;
    border-width: 0 0 2px 2px;
    display: none;
    height: 7px;
    left: 50%;
    margin: -7px 0 0 -6px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 12px;
    margin: -4px 0 0 -6px;
    display: none;
  }

  &:hover{
    border: 1px solid #9facb8;
  }
  &.jcf-focus{
    border: 1px solid #9facb8 !important;

    span{
      border-color: #fff !important;
    }
  }
  &.jcf-checked{
    background: #3b97f5;
    border: 1px solid #3b97f5;
    span{
      display: block;
    }
    &.jcf-focus{
      border: 1px solid #3b97f5 !important;
    }
    &:hover{
      background: #2382e2;
    }
  }
  &.jcf-disabled{
    background: rgba(#f2f5f7, 0.5) !important;
    border: 1px solid rgba(#ebf1f6, 0.5) !important;

    span{
      border-color: #bbbecb;
    }
  }
}
.jcf-radio{
  width: 24px;
  height: 24px;
  background: #fff;
  border: 1px solid #bfc8d1;
  border-radius: 100%;
  cursor: default;
  display: inline-block;
  margin: 0 9px 0 0;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  cursor: pointer;

  input{
    cursor: pointer;
  }

  span {
    background: #3b97f5;
    border-radius: 100%;
    bottom: 4px;
    display: none;
    left: 4px;
    position: absolute;
    right: 4px;
    top: 4px;
    display: none;
  }

  &:hover{
    border: 1px solid #9facb8;
  }
  &.jcf-focus{
    border: 1px solid #9facb8 !important;

    span{
      border-color: #fff !important;
    }
  }
  &.jcf-checked{
    border: 2px solid #3b97f5;
    span{
      display: block;
    }
    &.jcf-focus{
      border: 1px solid #3b97f5 !important;
    }
    &:hover{
      border-color: #2382e2;

      span{
        background: #2382e2;
      }
    }
  }
  &.jcf-disabled{
    background: #f2f5f7 !important;
    border: 1px solid #ebf1f6 !important;

    &.jcf-checked{
      background: #f8f9fe !important;
      border: 2px solid #bfc8d1 !important;
      opacity: 0.5;

      span{
        background: #bfc8d1;
        cursor: not-allowed;
      }
    }
  }
}
