header{
  width: 100%;
  background: $color-blue3;
  height: 48px;
  @extend %clearfix;
  position: relative;

  .head{
    height: 48px;
    background-color: $color-blue1;
    float: left;
    width: 180px;
    position: relative;

    @include portrait{
      width: 48px;
    }
  }
}
.logo{
  display: block;
  height: 48px;
  overflow: hidden;
  background-color: $color-blue1;
  text-align: center;
  box-sizing:border-box;
  padding: 7px 0;
  background: #3a97f6;

  .svg-map{
    display: block;
    width: 49px;
    height: 19px;
    margin: 15px auto;

    svg{
      fill:$color-white;
    }
  }
  @include portrait{
    display: none;
  }
  img{
    width: 60%;
  }
}
.open-aside{
  header{
    .head{
      @include portrait{
        width: 48px;
      }
    }
    .logo{
      position: absolute;
      left: 0;
      top: 0;
      width: 200px;
      z-index: 20;
    }
  }
}
nav{
  float: left;

  ul{
    float: left;
    margin: 0;
  }
  li{
    float: left;
    font-size: 11px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

    &.active{
      a{
        box-shadow: inset 0 3px 0 $color-white;
        background: $color-blue2;
      }
    }
  }
  a{
    display: block;
    color: $color-white;
    padding: 16px 14px 14px;

    @include portrait{
      padding: 16px 8px 14px;
    }

    &:hover{
      text-align: center;
      color: $color-white;
      background: $color-blue2;
      text-decoration: none;
    }
    &:focus{
      color: #fff;
    }
  }
}
.account-nav{
  float: right;
  background: $color-blue2;
  height: 48px;
  padding: 7px 11px;
  box-sizing:border-box;

  @include portrait{
    padding: 7px 10px;
  }

  .user{
    float: right;

    .photo{
      width: 36px;
      height: 36px;
      border-radius: 100px;
      overflow: hidden;
      background: #2375c9;
      text-align: center;

      .ico{
        line-height: 36px;
        font-size: 23px;
      }
    }
  }
  .ico{
    color: #fff;
    font-size: 20px;
  }
  .logout{
    float: right;
    border-left: 1px solid #3b97f5;
    height: 48px;
    margin-top: -7px;
    padding: 15px 14px 0;

    @include portrait{
      padding: 15px 12px 0;
    }

    .ico{
      font-size: 18px;
    }
  }
  .edit{
    float: right;
    margin: 8px 15px 0 0;

    @include portrait{
      margin: 8px 12px 0 0;
    }
  }
  .setting{
    float: right;
    margin: 7px 17px 0 0;

    @include portrait{
      margin: 7px 12px 0 0;
    }
  }
  .notification{
    float: right;
    margin: 7px 18px 0 7px;
    position: relative;

    @include portrait{
      margin: 7px 14px 0 0;
    }

    .status{
      min-width: 16px;
      width: auto;
      padding: 0 1px;
      height: 16px;
      text-indent: 0;
      text-align: center;
      color: $color-white;
      font-size: 9px;
      line-height: 14px;
      font-weight: 700;
      border-radius: 10px;
      box-shadow: 0 1px 1px rgba(28, 45, 62, 0.6);
      position: absolute;
      left: 11px;
      top: -4px;
    }
    &.opened{
      .notification-drop{
        left: -51px;
        top: 37px;
      }
    }
  }
}
.notification-drop{
  width: 200px;
  height: 175px;
  box-sizing:border-box;
  background: $color-blue3;
  box-shadow: 0 1px 38px rgba(28, 45, 62, 0.39);
  border-radius: 4px;
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 11;
  -webkit-overflow-scrolling: touch;

  &:after{
    position: absolute;
    left: 55px;
    top: -6px;
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 6px 5.5px;
    border-color: transparent transparent $color-blue3 transparent;
  }

  .frame{
    height: 175px;
    width: 100%;
    overflow: auto;
    box-sizing:border-box;
  }

  ul{
    margin: 0;
    padding: 19px 12px;

    li{
      font-size: 11px;
      line-height: 13px;
      padding-bottom: 11px;

      &:last-child{
        padding-bottom: 0;
      }
    }
    .opacity{
      opacity: 0.5;
    }
    a{
      color: $color-white;
      display: block;
      position: relative;

      &:hover{
        text-decoration: underline;
      }

      &:after{
        position: absolute;
        left: 0;
        top: 3px;
        @extend .icon;
        font-size: 8px;
      }
    }
    .n-comment{
      a{
        padding-left: 17px;
        &:after{
          content: $icon-comment;
        }
      }
    }
    .n-user{
       a{
        padding-left: 17px;
        &:after{
          content: $icon-user2;
        }
      }
    }
  }
}
