// Font families:

$ubuntu: 'ubuntu', Arial, Helvetica, sans-serif;
$noto_sans: 'noto_sans', Arial, Helvetica, sans-serif;

// Colors:
$color-white: #fff;

$color-blue1: #2375c9;
$color-blue2: #2382e2;
$color-blue3: #3b97f5;
$color-blue4: #6bd4f7;
$color-blue5: #3cb0d7;

$color-dark-blue1: #1c2d3e;
$color-dark-blue2: #2a3a4b;
$color-dark-blue3: #384654;
$color-dark-blue4: #586877;

$color-gray1: #9facb8;
$color-gray2: #bfc8d1;
$color-gray3: #d8dfe7;
$color-gray4: #e4ebf3;
$color-gray5: #ebf1f6;
$color-gray6: #f2f5f7;

$color-red: #f24646;
$color-red2: #f97767;

$color-black: #000;

$color-yellow: #ffb128;
$color-yellow2: #fbce1f;

$color-current-agenda: rgba(255, 147, 0, 0.07);


// Responsive

$desktop: 960px;
$desktop2: 1024px;
$tablet: 768px;
$small-phone: 480px;


@mixin portrait {
  @media only screen
    and (max-width: #{$desktop2}) {
      @content;
  }
}

@mixin tablet-plus {
  @media (max-width: #{$desktop2}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin input-placeholder{
  &::-webkit-input-placeholder{
    @content;
  }
  &:-moz-placeholder{
    @content;
  }
  &::-moz-placeholder{
    @content;
  }
  &:-ms-input-placeholder{
    @content;
  }
}

%clearfix {
  &:after{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
}
