/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$csv-name: 'csv';
$csv-x: 0px;
$csv-y: 0px;
$csv-offset-x: 0px;
$csv-offset-y: 0px;
$csv-width: 20px;
$csv-height: 21px;
$csv-total-width: 82px;
$csv-total-height: 67px;
$csv-image: '../images/spritesheet.png';
$csv: (0px, 0px, 0px, 0px, 20px, 21px, 82px, 67px, '../images/spritesheet.png', 'csv', );
$del-h-name: 'del-h';
$del-h-x: 66px;
$del-h-y: 25px;
$del-h-offset-x: -66px;
$del-h-offset-y: -25px;
$del-h-width: 10px;
$del-h-height: 10px;
$del-h-total-width: 82px;
$del-h-total-height: 67px;
$del-h-image: '../images/spritesheet.png';
$del-h: (66px, 25px, -66px, -25px, 10px, 10px, 82px, 67px, '../images/spritesheet.png', 'del-h', );
$del-name: 'del';
$del-x: 48px;
$del-y: 45px;
$del-offset-x: -48px;
$del-offset-y: -45px;
$del-width: 10px;
$del-height: 10px;
$del-total-width: 82px;
$del-total-height: 67px;
$del-image: '../images/spritesheet.png';
$del: (48px, 45px, -48px, -45px, 10px, 10px, 82px, 67px, '../images/spritesheet.png', 'del', );
$doc-name: 'doc';
$doc-x: 0px;
$doc-y: 23px;
$doc-offset-x: 0px;
$doc-offset-y: -23px;
$doc-width: 20px;
$doc-height: 20px;
$doc-total-width: 82px;
$doc-total-height: 67px;
$doc-image: '../images/spritesheet.png';
$doc: (0px, 23px, 0px, -23px, 20px, 20px, 82px, 67px, '../images/spritesheet.png', 'doc', );
$filelink-name: 'filelink';
$filelink-x: 66px;
$filelink-y: 0px;
$filelink-offset-x: -66px;
$filelink-offset-y: 0px;
$filelink-width: 16px;
$filelink-height: 23px;
$filelink-total-width: 82px;
$filelink-total-height: 67px;
$filelink-image: '../images/spritesheet.png';
$filelink: (66px, 0px, -66px, 0px, 16px, 23px, 82px, 67px, '../images/spritesheet.png', 'filelink', );
$icon-test-name: 'icon-test';
$icon-test-x: 36px;
$icon-test-y: 45px;
$icon-test-offset-x: -36px;
$icon-test-offset-y: -45px;
$icon-test-width: 10px;
$icon-test-height: 10px;
$icon-test-total-width: 82px;
$icon-test-total-height: 67px;
$icon-test-image: '../images/spritesheet.png';
$icon-test: (36px, 45px, -36px, -45px, 10px, 10px, 82px, 67px, '../images/spritesheet.png', 'icon-test', );
$pdf-name: 'pdf';
$pdf-x: 18px;
$pdf-y: 45px;
$pdf-offset-x: -18px;
$pdf-offset-y: -45px;
$pdf-width: 16px;
$pdf-height: 22px;
$pdf-total-width: 82px;
$pdf-total-height: 67px;
$pdf-image: '../images/spritesheet.png';
$pdf: (18px, 45px, -18px, -45px, 16px, 22px, 82px, 67px, '../images/spritesheet.png', 'pdf', );
$pic-name: 'pic';
$pic-x: 0px;
$pic-y: 45px;
$pic-offset-x: 0px;
$pic-offset-y: -45px;
$pic-width: 16px;
$pic-height: 22px;
$pic-total-width: 82px;
$pic-total-height: 67px;
$pic-image: '../images/spritesheet.png';
$pic: (0px, 45px, 0px, -45px, 16px, 22px, 82px, 67px, '../images/spritesheet.png', 'pic', );
$ppt-name: 'ppt';
$ppt-x: 44px;
$ppt-y: 23px;
$ppt-offset-x: -44px;
$ppt-offset-y: -23px;
$ppt-width: 20px;
$ppt-height: 20px;
$ppt-total-width: 82px;
$ppt-total-height: 67px;
$ppt-image: '../images/spritesheet.png';
$ppt: (44px, 23px, -44px, -23px, 20px, 20px, 82px, 67px, '../images/spritesheet.png', 'ppt', );
$txt-name: 'txt';
$txt-x: 22px;
$txt-y: 23px;
$txt-offset-x: -22px;
$txt-offset-y: -23px;
$txt-width: 20px;
$txt-height: 20px;
$txt-total-width: 82px;
$txt-total-height: 67px;
$txt-image: '../images/spritesheet.png';
$txt: (22px, 23px, -22px, -23px, 20px, 20px, 82px, 67px, '../images/spritesheet.png', 'txt', );
$xls-name: 'xls';
$xls-x: 44px;
$xls-y: 0px;
$xls-offset-x: -44px;
$xls-offset-y: 0px;
$xls-width: 20px;
$xls-height: 20px;
$xls-total-width: 82px;
$xls-total-height: 67px;
$xls-image: '../images/spritesheet.png';
$xls: (44px, 0px, -44px, 0px, 20px, 20px, 82px, 67px, '../images/spritesheet.png', 'xls', );
$zip-name: 'zip';
$zip-x: 22px;
$zip-y: 0px;
$zip-offset-x: -22px;
$zip-offset-y: 0px;
$zip-width: 20px;
$zip-height: 20px;
$zip-total-width: 82px;
$zip-total-height: 67px;
$zip-image: '../images/spritesheet.png';
$zip: (22px, 0px, -22px, 0px, 20px, 20px, 82px, 67px, '../images/spritesheet.png', 'zip', );
$csv-2x-name: 'csv@2x';
$csv-2x-x: 0px;
$csv-2x-y: 0px;
$csv-2x-offset-x: 0px;
$csv-2x-offset-y: 0px;
$csv-2x-width: 20px;
$csv-2x-height: 21px;
$csv-2x-total-width: 92px;
$csv-2x-total-height: 72px;
$csv-2x-image: '../images/spritesheet@2x.png';
$csv-2x: (0px, 0px, 0px, 0px, 20px, 21px, 92px, 72px, '../images/spritesheet@2x.png', 'csv@2x', );
$del-h-2x-name: 'del-h@2x';
$del-h-2x-x: 72px;
$del-h-2x-y: 24px;
$del-h-2x-offset-x: -72px;
$del-h-2x-offset-y: -24px;
$del-h-2x-width: 10px;
$del-h-2x-height: 10px;
$del-h-2x-total-width: 92px;
$del-h-2x-total-height: 72px;
$del-h-2x-image: '../images/spritesheet@2x.png';
$del-h-2x: (72px, 24px, -72px, -24px, 10px, 10px, 92px, 72px, '../images/spritesheet@2x.png', 'del-h@2x', );
$del-2x-name: 'del@2x';
$del-2x-x: 60px;
$del-2x-y: 49px;
$del-2x-offset-x: -60px;
$del-2x-offset-y: -49px;
$del-2x-width: 10px;
$del-2x-height: 10px;
$del-2x-total-width: 92px;
$del-2x-total-height: 72px;
$del-2x-image: '../images/spritesheet@2x.png';
$del-2x: (60px, 49px, -60px, -49px, 10px, 10px, 92px, 72px, '../images/spritesheet@2x.png', 'del@2x', );
$doc-2x-name: 'doc@2x';
$doc-2x-x: 0px;
$doc-2x-y: 25px;
$doc-2x-offset-x: 0px;
$doc-2x-offset-y: -25px;
$doc-2x-width: 20px;
$doc-2x-height: 20px;
$doc-2x-total-width: 92px;
$doc-2x-total-height: 72px;
$doc-2x-image: '../images/spritesheet@2x.png';
$doc-2x: (0px, 25px, 0px, -25px, 20px, 20px, 92px, 72px, '../images/spritesheet@2x.png', 'doc@2x', );
$filelink-2x-name: 'filelink@2x';
$filelink-2x-x: 0px;
$filelink-2x-y: 49px;
$filelink-2x-offset-x: 0px;
$filelink-2x-offset-y: -49px;
$filelink-2x-width: 16px;
$filelink-2x-height: 23px;
$filelink-2x-total-width: 92px;
$filelink-2x-total-height: 72px;
$filelink-2x-image: '../images/spritesheet@2x.png';
$filelink-2x: (0px, 49px, 0px, -49px, 16px, 23px, 92px, 72px, '../images/spritesheet@2x.png', 'filelink@2x', );
$icon-test-2x-name: 'icon-test@2x';
$icon-test-2x-x: 48px;
$icon-test-2x-y: 25px;
$icon-test-2x-offset-x: -48px;
$icon-test-2x-offset-y: -25px;
$icon-test-2x-width: 20px;
$icon-test-2x-height: 20px;
$icon-test-2x-total-width: 92px;
$icon-test-2x-total-height: 72px;
$icon-test-2x-image: '../images/spritesheet@2x.png';
$icon-test-2x: (48px, 25px, -48px, -25px, 20px, 20px, 92px, 72px, '../images/spritesheet@2x.png', 'icon-test@2x', );
$pdf-2x-name: 'pdf@2x';
$pdf-2x-x: 40px;
$pdf-2x-y: 49px;
$pdf-2x-offset-x: -40px;
$pdf-2x-offset-y: -49px;
$pdf-2x-width: 16px;
$pdf-2x-height: 22px;
$pdf-2x-total-width: 92px;
$pdf-2x-total-height: 72px;
$pdf-2x-image: '../images/spritesheet@2x.png';
$pdf-2x: (40px, 49px, -40px, -49px, 16px, 22px, 92px, 72px, '../images/spritesheet@2x.png', 'pdf@2x', );
$pic-2x-name: 'pic@2x';
$pic-2x-x: 20px;
$pic-2x-y: 49px;
$pic-2x-offset-x: -20px;
$pic-2x-offset-y: -49px;
$pic-2x-width: 16px;
$pic-2x-height: 22px;
$pic-2x-total-width: 92px;
$pic-2x-total-height: 72px;
$pic-2x-image: '../images/spritesheet@2x.png';
$pic-2x: (20px, 49px, -20px, -49px, 16px, 22px, 92px, 72px, '../images/spritesheet@2x.png', 'pic@2x', );
$ppt-2x-name: 'ppt@2x';
$ppt-2x-x: 72px;
$ppt-2x-y: 0px;
$ppt-2x-offset-x: -72px;
$ppt-2x-offset-y: 0px;
$ppt-2x-width: 20px;
$ppt-2x-height: 20px;
$ppt-2x-total-width: 92px;
$ppt-2x-total-height: 72px;
$ppt-2x-image: '../images/spritesheet@2x.png';
$ppt-2x: (72px, 0px, -72px, 0px, 20px, 20px, 92px, 72px, '../images/spritesheet@2x.png', 'ppt@2x', );
$txt-2x-name: 'txt@2x';
$txt-2x-x: 24px;
$txt-2x-y: 25px;
$txt-2x-offset-x: -24px;
$txt-2x-offset-y: -25px;
$txt-2x-width: 20px;
$txt-2x-height: 20px;
$txt-2x-total-width: 92px;
$txt-2x-total-height: 72px;
$txt-2x-image: '../images/spritesheet@2x.png';
$txt-2x: (24px, 25px, -24px, -25px, 20px, 20px, 92px, 72px, '../images/spritesheet@2x.png', 'txt@2x', );
$xls-2x-name: 'xls@2x';
$xls-2x-x: 48px;
$xls-2x-y: 0px;
$xls-2x-offset-x: -48px;
$xls-2x-offset-y: 0px;
$xls-2x-width: 20px;
$xls-2x-height: 20px;
$xls-2x-total-width: 92px;
$xls-2x-total-height: 72px;
$xls-2x-image: '../images/spritesheet@2x.png';
$xls-2x: (48px, 0px, -48px, 0px, 20px, 20px, 92px, 72px, '../images/spritesheet@2x.png', 'xls@2x', );
$zip-2x-name: 'zip@2x';
$zip-2x-x: 24px;
$zip-2x-y: 0px;
$zip-2x-offset-x: -24px;
$zip-2x-offset-y: 0px;
$zip-2x-width: 20px;
$zip-2x-height: 20px;
$zip-2x-total-width: 92px;
$zip-2x-total-height: 72px;
$zip-2x-image: '../images/spritesheet@2x.png';
$zip-2x: (24px, 0px, -24px, 0px, 20px, 20px, 92px, 72px, '../images/spritesheet@2x.png', 'zip@2x', );
$spritesheet-width: 82px;
$spritesheet-height: 67px;
$spritesheet-image: '../images/spritesheet.png';
$spritesheet-sprites: ($csv, $del-h, $del, $doc, $filelink, $icon-test, $pdf, $pic, $ppt, $txt, $xls, $zip, );
$spritesheet: (82px, 67px, '../images/spritesheet.png', $spritesheet-sprites, );
$retina-spritesheet-width: 92px;
$retina-spritesheet-height: 72px;
$retina-spritesheet-image: '../images/spritesheet@2x.png';
$retina-spritesheet-sprites: ($csv-2x, $del-h-2x, $del-2x, $doc-2x, $filelink-2x, $icon-test-2x, $pdf-2x, $pic-2x, $ppt-2x, $txt-2x, $xls-2x, $zip-2x, );
$retina-spritesheet: (92px, 72px, '../images/spritesheet@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$csv-group-name: 'csv';
$csv-group: ('csv', $csv, $csv-2x, );
$del-h-group-name: 'del-h';
$del-h-group: ('del-h', $del-h, $del-h-2x, );
$del-group-name: 'del';
$del-group: ('del', $del, $del-2x, );
$doc-group-name: 'doc';
$doc-group: ('doc', $doc, $doc-2x, );
$filelink-group-name: 'filelink';
$filelink-group: ('filelink', $filelink, $filelink-2x, );
$icon-test-group-name: 'icon-test';
$icon-test-group: ('icon-test', $icon-test, $icon-test-2x, );
$pdf-group-name: 'pdf';
$pdf-group: ('pdf', $pdf, $pdf-2x, );
$pic-group-name: 'pic';
$pic-group: ('pic', $pic, $pic-2x, );
$ppt-group-name: 'ppt';
$ppt-group: ('ppt', $ppt, $ppt-2x, );
$txt-group-name: 'txt';
$txt-group: ('txt', $txt, $txt-2x, );
$xls-group-name: 'xls';
$xls-group: ('xls', $xls, $xls-2x, );
$zip-group-name: 'zip';
$zip-group: ('zip', $zip, $zip-2x, );
$retina-groups: ($csv-group, $del-h-group, $del-group, $doc-group, $filelink-group, $icon-test-group, $pdf-group, $pic-group, $ppt-group, $txt-group, $xls-group, $zip-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
