$icon-account-news: "\e900";
$icon-arrow-next: "\e901";
$icon-basket: "\e902";
$icon-calendar: "\e903";
$icon-car: "\e904";
$icon-close: "\e905";
$icon-comment: "\e906";
$icon-down: "\e907";
$icon-edit: "\e908";
$icon-flag: "\e909";
$icon-folder: "\e90a";
$icon-glass: "\e90b";
$icon-info: "\e90c";
$icon-label: "\e90d";
$icon-list: "\e90e";
$icon-logo-iris: "\e90f";
$icon-logout: "\e910";
$icon-mode: "\e911";
$icon-next: "\e912";
$icon-pc: "\e913";
$icon-photo: "\e914";
$icon-prev: "\e915";
$icon-print: "\e916";
$icon-processor: "\e917";
$icon-search: "\e918";
$icon-settings: "\e919";
$icon-star: "\e91a";
$icon-star2: "\e91b";
$icon-star-fill: "\e91c";
$icon-time: "\e91d";
$icon-up: "\e91e";
$icon-user: "\e91f";
$icon-user2: "\e920";
$icon-user3: "\e921";



@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon/icomoon.eot?7h84fi');
    src:    url('fonts/icomoon/icomoon.eot?7h84fi#iefix') format('embedded-opentype'),
        url('fonts/icomoon/icomoon.ttf?7h84fi') format('truetype'),
        url('fonts/icomoon/icomoon.woff?7h84fi') format('woff'),
        url('fonts/icomoon/icomoon.svg?7h84fi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon, [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-account-news {
    &:before {
        content: $icon-account-news;
    }
}
.icon-arrow-next {
    &:before {
        content: $icon-arrow-next;
    }
}
.icon-basket {
    &:before {
        content: $icon-basket;
    }
}
.icon-calendar {
    &:before {
        content: $icon-calendar;
    }
}
.icon-car {
    &:before {
        content: $icon-car;
    }
}
.icon-close {
    &:before {
        content: $icon-close;
    }
}
.icon-comment {
    &:before {
        content: $icon-comment;
    }
}
.icon-down {
    &:before {
        content: $icon-down;
    }
}
.icon-edit {
    &:before {
        content: $icon-edit;
    }
}
.icon-flag {
    &:before {
        content: $icon-flag;
    }
}
.icon-folder {
    &:before {
        content: $icon-folder;
    }
}
.icon-glass {
    &:before {
        content: $icon-glass;
    }
}
.icon-info {
    &:before {
        content: $icon-info;
    }
}
.icon-label {
    &:before {
        content: $icon-label;
    }
}
.icon-list {
    &:before {
        content: $icon-list;
    }
}
.icon-logo-iris {
    &:before {
        content: $icon-logo-iris;
    }
}
.icon-logout {
    &:before {
        content: $icon-logout;
    }
}
.icon-mode {
    &:before {
        content: $icon-mode;
    }
}
.icon-next {
    &:before {
        content: $icon-next;
    }
}
.icon-pc {
    &:before {
        content: $icon-pc;
    }
}
.icon-photo {
    &:before {
        content: $icon-photo;
    }
}
.icon-prev {
    &:before {
        content: $icon-prev;
    }
}
.icon-print {
    &:before {
        content: $icon-print;
    }
}
.icon-processor {
    &:before {
        content: $icon-processor;
    }
}
.icon-search {
    &:before {
        content: $icon-search;
    }
}
.icon-settings {
    &:before {
        content: $icon-settings;
    }
}
.icon-star {
    &:before {
        content: $icon-star;
    }
}
.icon-star2 {
    &:before {
        content: $icon-star2;
    }
}
.icon-star-fill {
    &:before {
        content: $icon-star-fill;
    }
}
.icon-time {
    &:before {
        content: $icon-time;
    }
}
.icon-up {
    &:before {
        content: $icon-up;
    }
}
.icon-user {
    &:before {
        content: $icon-user;
    }
}
.icon-user2 {
    &:before {
        content: $icon-user2;
    }
}
.icon-user3 {
    &:before {
        content: $icon-user3;
    }
}

