.merchandising{
  @extend .generic;

  .links-block{

  }

  .news-list{
    .pic{
      width: 40px;
      height: 40px;
      float: left;
      margin: -2px 8px 0 0;

      img{
        width: 100%;
      }
    }
    .holder{

      .sub-txt{
        .time{
          &:after{
            top:0;
          }
        }
      }
    }
  }
}
