.agenda-holder{
  overflow: hidden;
  padding-bottom: 90px;

  .head{
    padding-bottom: 6px;
    position: relative;
    @extend %clearfix;

    &:before{
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background: $color-gray6;
      height: 6px;
      content:'';
    }
  }
  .left-box{
    float: left;
    width: 150px;
    position: relative;

    &:after{
      position: absolute;
      left: 0;
      bottom: 0;
      content:'';
      width: 100%;
      height: 6px;
      background: #fff;
      z-index: 1;
    }
  }
  .right-box{
    float: right;
    width: calc(100% - 150px);
    border-left: 2px solid $color-gray3;
  }
  .nav-agenda{
    @extend %clearfix;
    padding: 8px 25px;
    position: relative;
    z-index: 15;

    .print{
      float: left;
      width: 34px;
      height: 34px;
      line-height: 34px;
      text-align: center;

      >a{
        display: block;
        height: 100%;
        color: $color-blue3;
        font-size: 20px;
        border: 1px solid $color-gray3;
        box-sizing:border-box;

        &:hover{
          color: $color-white;
          background: $color-blue3;
          border: 1px solid $color-blue3;
        }
      }
    }
    .calendar{
      @extend .print;
      float: right;
      position: relative;

      >a{
        font-size: 15px;
        position: relative;
        z-index: 12;
      }
      &.opened{
        > a{
          color: $color-white;
          background: $color-blue3;
          border: 1px solid $color-blue3;
        }
        .calendar-nav{
          visibility: visible;
        }
      }
    }
  }
  .calendar-nav{
    position: absolute;
    left: 0;
    top: 34px;
    width: 250px;
    height: 81px;
    background: $color-blue3;
    box-shadow: 0 2px 30px $color-dark-blue4;
    z-index: 11;
    text-align: left;
    box-sizing:border-box;
    padding: 13px 8px;
    visibility: hidden;

    h4{
      margin: 0 0 6px 3px;
      font-size: 11px;
      font-weight: 700;
      line-height: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $color-white;

      span{
        color: $color-gray3;
        font-weight: 300;
        text-transform: none;
        letter-spacing: 0;
        padding-left: 6px;

        a{
          color: $color-gray3;
          text-decoration: underline;

          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
  .nav-month{
    overflow: hidden;
    background: $color-gray3;
    position: relative;
    z-index: 2;

    a{
      float: left;
      width: 75px;
      background: $color-dark-blue4;
      height: 40px;
      line-height: 40px;
      color: $color-white;
      text-align: center;
      font-size: 20px;

      &.next{
        float: right;
        width: 74px;
      }
    }
  }
}
.month-holder{
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;

  .block{
    display: inline-block;
    width: 33.33%;

    @include portrait{
      width: 50%;
    }

    &:first-child{
      .week{
        .box{
          &:first-child{
            border: 0;
          }
        }
      }
    }
    &:last-child{
      .month{
        span{
          margin-right: 5px;
        }
      }
    }
    &:nth-child(2){
      .month{
        span{
          @include portrait{
            margin-right: 5px;
          }
        }
      }
    }
  }
  .month{
    color: $color-gray1;
    font-size: 11px;
    line-height: 13px;
    background: $color-gray6;
    text-align: center;
    padding: 0 0 12px;
    span{
      display: block;
      background: url("../images/dotted.png") repeat-x 0 100%;
      padding: 13px 0 12px;
      position: relative;
      margin: 0 2px 0 5px;

      &:after,
      &:before{
        position: absolute;
        left: 0;
        bottom: -4px;
        content:'';
        width: 1px;
        height: 10px;
        background: $color-gray3;
      }
      &:before{
        left:auto;
        right:0;
      }
    }
  }
  .week{
    display: table;
    width: 100%;
    table-layout: fixed;

    .box{
      /*display: inline-block;*/
      display: table-cell;
      text-align: center;
      border-left: 1px solid $color-gray4;
      /*width: 46px;*/
      padding: 5px 0 2px;
      box-sizing:content-box;

      &:first-child{
        border-width:3px;
      }
      &.current{
        background: $color-current-agenda;
      }
    }
    .date{
      display: block;
      color: $color-gray1;
      font-size: 11px;
      line-height: 14px;
      padding-bottom: 1px;
    }
    .num-week{
      display: block;
      color: $color-blue3;
      font-size: 14px;
      font-weight: 700;
    }
  }
}
.content-agenda{
  position: relative;
  @extend %clearfix;

  .block{
    display: inline-block;
    vertical-align: top;
    width: 33.33%;

    @include portrait{
      width: 50%;
    }

    &:first-child{
      .week{
        .box{
          &:first-child{
            border: 0;
          }
        }
      }
    }
  }
  .week{
    display: table;
    width: 100%;
    table-layout: fixed;

    .box{
      /*display: inline-block;*/
      display: table-cell;
      text-align: center;
      border-left: 1px solid $color-gray4;
      /*width: 46px;*/
      height: 30px;
      padding: 3px 0;
      vertical-align: top;
      position: relative;
      box-sizing:content-box;

      &:first-child{
        border-width:3px;
        border-color: $color-gray2;

        .event{
          margin-left: -3px;
          width: calc(100% + 4px);

          &.start-event{
            margin: 0 0 0 3px;
            width: calc(100% - 2px);

            &.end-event{
              width: calc(100% - 6px);
            }
          }
          &.end-event{
            width: calc(100% - 1px);
          }
        }
        .more-before + .start-event.end-event{
          margin-right: 0;
          width: calc(100% - 10px);
        }
        .more-after + .start-event{
          width: calc(100% - 7px);
          margin: 0;
        }
        .more-after + .start-event.end-event{
          width: calc(100% - 10px);
          margin: 0;
        }
      }
      &.current{
        background: $color-current-agenda;
      }
    }
    .date{
      display: block;
      color: $color-gray1;
      font-size: 11px;
      line-height: 14px;
      padding-bottom: 1px;
    }
    .num-week{
      display: block;
      color: $color-blue3;
      font-size: 14px;
      font-weight: 700;
    }
  }
  .row-event{
    white-space: nowrap;
    overflow: hidden;
    /*@extend %clearfix;*/

    &:last-child{
      padding-bottom: 70px;
      .line{
        &:last-child{
          &:after{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            content:'';
            height: 6px;
            background-color: $color-gray6;
            z-index: 1;
          }
        }
      }
    }
  }
  .line{
    position: relative;

    &:first-child{
      .week{
        .box{
          padding-top: 12px;
        }
      }
    }
    &:last-child{

      .week{
        .box{
          padding-bottom: 18px;

          &:after{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            content:'';
            height: 6px;
            background-color: $color-gray6;
            z-index: 1;
          }
        }
      }
    }
  }
  .frame{
    position: relative;
    display: block;
    /*z-index: 3;*/
  }
  .event{
    background-color: $color-gray1;
    height: 30px;
    float: left;
    z-index: 10;
    width: calc(100% + 1px);
    position: relative;

    &.start-event{
      border-radius: 2px 0 0 2px;
      margin: 0 0 0 3px;
      width: calc(100% - 2px);

      &.end-event{
        border-radius: 2px;
        width: calc(100% - 6px);
        margin: 0 0 0 3px;
      }
      &.end-event-tablet{
        @include portrait{
          border-radius: 2px;
          margin-left: 3px;
          width: calc(100% - 10px);
        }
      }
    }
    &.end-event{
      border-radius: 0 2px 2px 0;
      margin: 0 3px 0 0;
      width: calc(100% - 3px);
    }

    &.start-event-tablet{
      @include portrait{
        border-radius: 2px 0 0 2px;
        margin: 0 0 0 3px;
        width: calc(100% - 2px);
      }
      &.end-event-tablet{
        @include portrait{
          border-radius: 2px;
          width: calc(100% - 6px);
        }
      }
    }
    &.end-event-tablet{
      @include portrait{
        border-radius: 0 2px 2px 0;
        margin: 0;
        width: calc(100% - 3px);
      }
    }
  }
  .more-after,
  .more-before{
    float: left;
    width: 6px;
    position: relative;
    height: 30px;

    &:after,
    &:before{
      position: absolute;
      left: 0;
      top: 0;
      content:'';
      height: 30px;
      width: 2px;
      background-color: $color-gray1;
      border-radius: 2px;
    }
    &:before{
      left:3px;
    }
  }
  .more-after{
    margin: 0 0 0 1px;
  }
  .more-before{
    float: right;
  }
  .more-after + .event{
    width: calc(100% - 7px);
  }
  .more-after + .start-event{
    margin: 0;
    position: relative;
    left:1px;
  }
  .more-after + .start-event.end-event{
    width: calc(100% - 10px);
    margin: 0;
  }
  .more-before + .event{
    width: calc(100% - 7px);
  }
  .more-before + .event.end-event{
    margin-right: 0;
  }
  .more-before + .start-event.end-event{
    margin-right: 0;
    width: calc(100% - 10px);
  }



  .more-before-tablet,
  .more-after-tablet{
    float: left;
    width: 6px;
    position: relative;
    height: 30px;
    display: none;

    @include portrait{
      display: block;
    }

    &:after,
    &:before{
      position: absolute;
      left: 0;
      top: 0;
      content:'';
      height: 30px;
      width: 2px;
      background-color: $color-gray1;
      border-radius: 2px;
    }
    &:before{
      left:3px;
    }
  }
  .more-after-tablet{
    @include portrait{
      margin: 0 0 0 1px;
    }

  }
  .more-before-tablet{
    @include portrait{
      float: right;
    }

  }
  .more-after-tablet + .event{
    @include portrait{
      width: calc(100% - 7px);
    }

  }
  .more-after-tablet + .start-event{
    @include portrait{
      margin: 0;
      position: relative;
      left:1px;
    }

  }
  .more-after-tablet + .start-event.end-event{
    @include portrait{
      width: calc(100% - 10px);
      margin: 0;
    }

  }
  .more-before-tablet + .event{
    @include portrait{
      width: calc(100% - 7px);
    }

  }
  .more-before-tablet + .event.end-event{
    @include portrait{
      margin-right: 0;
    }

  }
  .more-before-tablet + .start-event.end-event{
    @include portrait{
      margin-right: 0;
      width: calc(100% - 10px);
    }
  }

}
.event-name{
  display: table;
  width: 100%;
  height: 100%;
  border-right: 10px solid $color-gray1;
  font-size: 11px;
  position: relative;

  > span{
    /*display: table-cell;
    vertical-align: middle;*/
    padding: 0 0 0 10px;
    line-height: 15px;
    position: absolute;
    left: 0;
    top: calc(50% - 3px);
    transform: translateY(-50%);
    width: 140px;
    white-space: normal;
    overflow: hidden;
  }
  .ico{
    display: inline-block;
    width: 10px;
    padding: 0 17px 0 0;
    float: left;
    height: 16px;
  }
}
.link-events{
  position: absolute;
  left: 1px;
  top: 1px;
  background: $color-white;
  color: $color-gray1;
  height: 13px;
  min-width: 11px;
  font-size: 10px;
  line-height: 13px;
  font-weight: 700;
  text-align: center;
  padding: 0 1px;
  box-sizing:content-box;
  border-radius: 1px;
  cursor: pointer;
  /*z-index: 2;*/
}
.trigger-event{
  display: block;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.trigger-event-tablet{
  @extend .trigger-event;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  display: none;

  @include portrait{
    display: block;
  }
}


/*color theme*/
.challenges{
  .event-name{
    color: $color-blue4;
  }
  .link-events{
    color: $color-blue4;
  }
  .event{
    background: rgba(107, 211, 247, 0.8);
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(107, 211, 247, 0.8);
    }
  }
  .event-name{
    border-color: $color-blue4;
  }
}
.animations{
  .event-name{
    color: $color-red2;
  }
  .link-events{
    color: $color-red2;
  }
  .event{
    background: rgba(249, 119, 103, 0.8);
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(249, 119, 103, 0.8);
    }
  }
  .event-name{
    border-color: $color-red2;
  }
}
.promotions{
  .event-name{
    color: $color-yellow2;
  }
  .link-events{
    color: $color-yellow2;
  }
  .event{
    background: rgba(251, 205, 31, 0.8);
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(251, 205, 31, 0.8);
    }
  }
  .event-name{
    border-color: $color-yellow2;
  }
}
.event-popup {
  width: 255px;
  background: $color-white;
  border-radius: 4px;
  box-shadow: 0 13px 50px $color-dark-blue4;
  position: absolute;
  left: -15px;
  bottom: 3px;
  z-index: 13;
  text-align: left;

  &:after{
    position: absolute;
    left: 21px;
    bottom: -5px;
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: $color-white transparent transparent transparent;
  }

  .title{
    color: $color-gray1;
    font-size: 11px;
    line-height: 14px;
    font-weight: 600;
    background-color: $color-gray6;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid $color-gray3;
    padding: 7px 16px 4px;

    .icon-arrow-next{
      font-size: 7px;
      position: relative;
      top:-1px;
      padding: 0 5px;
    }
  }
  .content{
    padding: 10px 16px 12px;
  }
  ul{
    margin: 0;
  }
  li{
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    padding-bottom: 7px;
    a{
      color: $color-dark-blue4;
      position: relative;
      padding-right: 16px;

      &:after{
        font-size: 9px;
        position: absolute;
        right: 0;
        top: 5px;
        @extend .icon;
        content: $icon-next;
      }

      &:hover{
        color: $color-blue3;
      }
    }
    .icon-next{
      font-size: 10px;
    }
  }
}
.popover.top{
  width: 255px;
  background: $color-white;
  border-radius: 4px;
  box-shadow: 0 13px 50px $color-dark-blue4;
  padding: 0;
  border: 0;
  margin: -6px 0 0 101px;

  &:after{
    position: absolute;
    left: 21px;
    bottom: -5px;
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: $color-white transparent transparent transparent;
  }
  .arrow{
    display: none;
  }
  .popover-content{
    padding: 0;
  }
  .title{
    color: $color-gray1;
    font-size: 11px;
    line-height: 14px;
    font-weight: 600;
    background-color: $color-gray6;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid $color-gray3;
    padding: 7px 16px 4px;

    .icon-arrow-next{
      font-size: 7px;
      position: relative;
      top:-1px;
      padding: 0 5px;
    }
  }
  .content{
    /*overflow: auto;*/
    /*max-height: 120px;*/
  }
  .jcf-scrollable{
    max-height: 120px;
  }
  ul{
    margin: 0;
    padding: 10px 16px 12px;
  }
  li{
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    padding-bottom: 7px;
    a{
      color: $color-dark-blue4;
      position: relative;
      padding-right: 16px;
      display: inline-block;

      &:after{
        font-size: 9px;
        position: absolute;
        right: 0;
        top: 5px;
        @extend .icon;
        content: $icon-next;
      }

      &:hover{
        color: $color-blue3;
      }
    }
    .icon-next{
      font-size: 10px;
    }
  }
}
.popover.left{
  width: 255px;
  background: $color-white;
  border-radius: 4px;
  box-shadow: 0 13px 50px $color-dark-blue4;
  padding: 0;
  border: 0;

  &:after{
    position: absolute;
    right: -5px;
    top: 50%;
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent $color-white;
    margin-top: -5px;
  }
  .arrow{
    display: none;
  }
  .popover-content{
    padding: 0;
  }
  .title{
    color: $color-gray1;
    font-size: 11px;
    line-height: 14px;
    font-weight: 600;
    background-color: $color-gray6;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid $color-gray3;
    padding: 7px 16px 4px;

    .icon-arrow-next{
      font-size: 7px;
      position: relative;
      top:-1px;
      padding: 0 5px;
    }
  }
  .content{
    /*overflow: auto;*/
  }
  .jcf-scrollable{
    max-height: 160px;
  }
  ul{
    margin: 0;
    padding: 10px 16px 12px;
  }
  li{
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    padding-bottom: 7px;
    a{
      color: $color-dark-blue4;
      position: relative;
      padding-right: 16px;
      display: inline-block;

      &:after{
        font-size: 9px;
        position: absolute;
        right: 0;
        top: 5px;
        @extend .icon;
        content: $icon-next;
      }

      &:hover{
        color: $color-blue3;
      }
    }
    .icon-next{
      font-size: 10px;
    }
  }
}


.theme-red{
  .event-name{
    color: #ff4848;
  }
  .link-events{
    color: #ff4848;
  }
  .event{
    background: rgba(255, 72, 72, 0.8);
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(255, 72, 72, 0.8);
    }
  }
  .event-name{
    border-color: #ff4848;
  }
}

.theme-yellow{
  .event-name{
    color: #fbce1f;
  }
  .link-events{
    color: #fbce1f;
  }
  .event{
    background: rgba(251, 206, 31, 0.8);
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(251, 206, 31, 0.8);
    }
  }
  .event-name{
    border-color: #fbce1f;
  }
}

.theme-blue{
  .event-name{
    color: #677df9;
  }
  .link-events{
    color: #677df9;
  }
  .event{
    background: rgba(103, 125, 249, 0.8);
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(103, 125, 249, 0.8);
    }
  }
  .event-name{
    border-color: #677df9;
  }
}

.theme-lilac{
  .event-name{
    color: #dd79ff;
  }
  .link-events{
    color: #dd79ff;
  }
  .event{
    background: rgba(221, 121, 255, 0.8);
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(221, 121, 255, 0.8);
    }
  }
  .event-name{
    border-color: #dd79ff;
  }
}

.theme-green{
  .event-name{
    color: #95e36c;
  }
  .link-events{
    color: #95e36c;
  }
  .event{
    background: rgba(149, 227, 108, 1);
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(149, 227, 108, 1);
    }
  }
  .event-name{
    border-color: #95e36c;
  }
}

.theme-light-blue{
  .event-name{
    color: #6bd4f7;
  }
  .link-events{
    color: #6bd4f7;
  }
  .event{
    background: rgba(107, 212, 247, 0.8);
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(107, 212, 247, 0.8);
    }
  }
  .event-name{
    border-color: #6bd4f7;
  }
}

.theme-light-red{
  .event-name{
    color: #f97767;
  }
  .link-events{
    color: #f97767;
  }
  .event{
    background: rgba(249, 119, 103, 0.8);
  }
  .more-after,
  .more-before,
  .more-after-tablet,
  .more-before-tablet{
    &:after,
    &:before{
      background: rgba(249, 119, 103, 0.8);
    }
  }
  .event-name{
    border-color: #f97767;
  }
}
