.generic{
  .news-list{
    li{
      a{
        padding: 16px 22px 14px;
      }
    }
    .sub-txt{
      display: block;
      padding-top: 2px;
      font-size: 11px;
      line-height: 14px;
      font-weight: normal;
      color: $color-dark-blue4;
    }
  }
  .news-content-frame{
    .title{
      margin-bottom: 18px;
      padding: 0 0 13px;
    }
  }
  .links-block{
    margin-bottom: 22px;
  }
}
