.home-news{
  /*display: table;*/
  width: 100%;
  height: calc(100% - 48px);
}
.news-list-container{
  /*display: table-cell;*/
  float: left;
  vertical-align: top;
  background: $color-gray6;
  box-sizing:border-box;
  min-width: 264px;
  width: 34%;
  box-shadow: inset -1px 0 0 $color-gray3;
  overflow: hidden;

  @include portrait{
    min-width: 240px;
    width: 240px;
  }

}
.news-content{
  @extend .news-list-container;
  background: $color-white;
  width: 66%;
  box-shadow:none;
  padding: 0;

  @include portrait{
    width: calc(100% - 240px);
  }
}
.news-title-nav{
  background: $color-white;
  box-shadow: inset 0 -1px 0 $color-gray3;

  .search-result{
    padding: 3px 18px 9px;
    color: $color-gray1;
    font-size: 15px;
    box-shadow: inset -1px 0 0 $color-gray3;

    span{
      color: $color-blue3;
      font-weight: 600;
    }
  }
}
.news-nav{
  margin: 0;
  display: table;
  width: 100%;
  height: 35px;
  table-layout: fixed;
  box-shadow: inset -1px 0 0 $color-gray3;

  @include portrait{
    min-width: 240px;
    width: 240px;
  }

  li{
    display: table-cell;
    font-size: 9px;
    text-transform: uppercase;
    line-height: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 10px;
    vertical-align: top;
    text-align: center;

    &.active{
      a{
        color: $color-blue3;
      }
    }
    /*&:nth-child(2){
      text-align: right;
    }*/
  }
  a{
    color: $color-gray1;
    display: block;
    padding: 9px 8px 12px;
    white-space: nowrap;

    @include portrait{
      padding: 9px 0 12px;
    }

    &:hover{
      text-decoration: none;
      color: $color-blue3;
    }
  }
  .ico{
    font-size: 12px;
    padding-right: 1px;
    position: relative;
    top:2px;
  }
}
.news-list{
  margin: 0;
  width: 100%;
  box-sizing:border-box;
  overflow: hidden;

  li{
    background-color: $color-gray5;
    box-shadow: inset 0 -1px 0 $color-gray3;

    &.completed{
      background: $color-gray6;

      .head{
        background: none;
        color: $color-gray1;
      }
      .holder{
        .title{
          color: $color-gray1;
        }
        .info{
          color: $color-gray1;
        }
      }
    }
    &.active{
      background: $color-white;
      box-shadow: inset 0 -1px 0 $color-gray3, inset 5px 0 0 $color-blue3;
      /*margin-right: -1px;*/

      a{
        box-shadow: none;
      }
    }

    a{
      display: block;
      padding: 18px 15px 17px;
      box-sizing:border-box;
      width: 100%;
      box-shadow: inset -1px 0 0 $color-gray3;
    }

    &.week-day{
      background: $color-blue4;
      font-size: 11px;
      line-height: 14px;
      font-weight: 700;
      color: $color-white;

      a{
        color: inherit;
        padding: 12px 15px 11px;
      }
    }
    &.promo-link{
      box-shadow: inset 0 -1px 0 $color-gray2, inset 14px 0 0 $color-gray2;

      a{
        padding-left: 25px;
      }
      &.start{
        position: relative;

        &:after{
          position: absolute;
          left: 0;
          top: 0;
          z-index: 10;
          content:'';
          width: 100%;
          height: 6px;
          background: url("../images/gradient-top.png") repeat-x;
        }
      }
      &.end{
        position: relative;

        &:before{
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 10;
          content:'';
          width: 100%;
          height: 6px;
          background: url("../images/gradient-bottom.png") repeat-x;
        }
      }
    }
  }
  .head{
    font-size: 11px;
    line-height: 14px;
    font-weight: 600;
    display: inline-block;
    background-color: $color-white;
    border-radius: 2px;
    padding: 2px 5px;
    vertical-align: top;
    margin-bottom: 10px;

    .sub-ttl{
      display: inline-block;
      padding-right: 12px;

      &.color1{
        color: $color-blue5;
      }
      &.color2{
        color: $color-blue1;
      }
    }
    .date{
      display: inline-block;
      color: $color-gray1;;
    }
    .icon-arrow-next{
      font-size: 7px;
      padding: 0 3px;
      position: relative;
      top:-1px;
    }
  }
  .holder{
    display: block;
    overflow: hidden;

    .status{
      float: left;
      margin: 4px 7px 0 0;
    }
    .txt{
      overflow: hidden;
      display: block;
      line-height: 15px;
    }
    .title{
      color: $color-dark-blue3;
      font-size: 15px;
      line-height: 17px;
      font-weight: 600;
      display: block;
      padding-bottom: 1px;
      width: 100%;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    .info{
      display: block;
      color: $color-dark-blue4;
      font-size: 11px;
      line-height: 15px;
    }
    .time{
      position: relative;
      font-style: italic;
      padding: 0 0 0 7px;
      margin-left: 2px;
      display: inline-block;
      line-height: 14px;
      vertical-align: top;

      &:after{
        position: absolute;
        left: 0;
        top: 0;
        content:'|';
        font-style: normal;
        color: $color-gray1;
      }
      .ico{
        color: $color-gray1;
        font-size: 13px;
        line-height: 15px;
        vertical-align: top;
        position: relative;
        top:0;
      }
    }
  }
}
.news-content-frame{
  position: relative;
  overflow: hidden;
  padding: 12px 26px;
  box-sizing:border-box;
  width: 100%;

  @include portrait{
    padding: 12px 11px;
  }

  .title{
    position: relative;
    border-bottom: 1px solid $color-gray4;
    padding: 0 20px 4px 0;
    margin-bottom: 12px;
    h2{
      margin-bottom: 2px;
    }
    .date{
      font-size: 11px;
      font-weight: 600;
      color: $color-gray1;

      .icon-arrow-next{
        font-size: 7px;
        padding: 0 3px;
        position: relative;
        top:-1px;
      }
    }
  }
  .close-news{
    position: absolute;
    right: 24px;
    top: 16px;
    font-size: 15px;
    color: $color-gray1;

    @include portrait{
      right: 11px;
    }
  }
  .favorite-link{
    position: absolute;
    right: 22px;
    top: 52px;
    z-index: 5;

    @include portrait{
      right: 9px;
    }

    .icon-star{
      color: $color-gray2;
      font-size: 20px;
    }
    &.on{
      .icon-star{
        &:before {
          content: $icon-star-fill;
          color: $color-yellow;
        }
      }
    }
  }
  .img-block{
    padding-bottom: 27px;
    img{
      width: 100%;
    }
  }
}
.links-block{
  background-color: $color-gray6;
  border: 1px solid $color-gray3;
  box-sizing:border-box;
  overflow: hidden;
  padding: 16px 15px;
  margin-bottom: 12px;

  .col{
    float: left;
    width: 45%;

    @include portrait{
      width: 46%;
    }

    &:last-child{
      float: right;
    }
  }
  h4{
    margin: 0 -5px 16px;
    padding: 0 5px 9px;
    color: $color-dark-blue4;
    border-bottom: 1px solid $color-gray4;
  }
  .links-list,
  ul{
    /*margin: 0 -20px 14px 0;*/
    margin: 0 0 14px 0;

    li{
      overflow: hidden;
      font-size: 11px;
      line-height: 14px;
      font-weight: 300;
      padding-bottom: 10px;
    }
    a{
      text-decoration: none;
      color: $color-dark-blue4;
      /*display: table;
      width: 100%;*/

      &:hover{
        text-decoration: none;

        .txt{
          span{
            text-decoration: none;
          }
          .time{
            text-decoration: none;
          }
          .ico{
            text-decoration: none;
          }
        }
      }

      .txt{
        span{
          text-decoration: underline;
          max-width: 72%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .time{
          text-decoration: none;
          display: inline-block;
          vertical-align: top;
          min-width: 55px;
        }
        .ico{
          text-decoration: none;
        }
      }
    }
    .ico{
      width: 29px;
      height: 24px;
      /*display: table-cell;*/
      padding-right: 9px;
      vertical-align: middle;
      float: left;

      span{
        display: block;
        margin: 0 auto;
      }

      .pdf{
        @include sprite($pdf);
      }
      .doc{
        @include sprite($doc);
      }
      .xls{
        @include sprite($xls);
      }
      .zip{
        @include sprite($zip);
      }
      .ppt{
        @include sprite($ppt);
      }
      .filelink{
        @include sprite($filelink);
      }
      .pic{
        @include sprite($pic);
      }
      .txt{
        @include sprite($txt);
      }
      .csv{
        @include sprite($csv);
      }
    }
    .txt{
      /*display: table-cell;
      vertical-align: middle;*/
      display: block;
      overflow: hidden;
      width: calc(100% - 40px;);

      span{
        display: inline-block;
      }
      .time{
        position: relative;
        font-style: italic;
        padding: 0 1px 0 7px;
        margin-left: 1px;
        text-decoration: none;
        display: inline-block;
        vertical-align: top;

        &:after{
          position: absolute;
          left: 0;
          top: 0;
          content:'|';
          font-style: normal;
          color: $color-gray1;
        }
        .ico{
          color: $color-gray1;
          font-size: 13px;
          line-height: 14px;
          position: relative;
          top:0;
          height: auto;
          width: auto;
          padding-right: 0;
          vertical-align: top;
        }
      }
    }
  }
}
.step-block{
  margin: 0 68px 37px;
  position: relative;

  .line{
    height: 3px;
    background: $color-gray4;
    display: block;
    position: absolute;
    left: 0;
    top: 18px;
    width: 100%;
  }
  ul{
    margin: 0 -21%;
    overflow: hidden;
    position: relative;
    z-index: 10;
  }
  li{
    text-align: center;
    width: 33.33%;
    float: left;
    position: relative;

    &.new{
      left:-13px;
      &.active{
        .name{
          color: $color-red;
        }
      }
      .bullet{
        span{
          background-color: $color-red;
        }
      }
      .txt{
        border-color: $color-red;
      }
    }
    &.in-progress{
      &.active{
        .name{
          color: $color-yellow;
        }
      }
      .bullet{
        span{
          background-color: $color-yellow;
        }
      }
      .txt{
        border-color: $color-yellow;
      }
    }
    &.completed{
      right:-13px;
      &.active{
        .name{
          color: $color-gray2;
        }
      }
      .bullet{
        span{
          background-color: $color-gray2;
        }
      }
      .txt{
        border-color: $color-gray2;
      }
    }
    &.active{
      .name{
        font-weight: 700;
      }
      .bullet{
        span{
          opacity: 1;
          width: 27px;
          height: 27px;
          margin: -13.5px 0 0 -13.5px;
        }
      }
      .txt{
        display: inline-block;
      }
    }
  }
  .bullet{
    display: block;
    width: 39px;
    height: 39px;
    margin: 0 auto;
    background-color: $color-white;
    border: 2px solid $color-gray4;
    border-radius: 100px;
    position: relative;

    span{
      display: block;
      width: 11px;
      height: 11px;
      opacity: 0.4;
      background-color: $color-gray2;
      border-radius: 100px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -5.5px 0 0 -5.5px;
    }
  }
  .name{
    display: block;
    color: $color-gray2;
    font-size: 15px;
    line-height: 17px;
    font-weight: 300;
    padding: 4px 0 13px;
  }
  .txt{
    display: inline-block;
    vertical-align: top;
    background: $color-gray5;
    color: $color-dark-blue4;
    font-size: 11px;
    line-height: 14px;
    font-style: italic;
    border-bottom: 2px solid $color-black;
    position: relative;
    padding: 6px 9px 4px;
    display: none;

    &:after{
      position: absolute;
      left: 50%;
      top: -5px;
      margin-left: -5px;
      content:'';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent $color-gray5 transparent;
    }
  }
}
.comment-box{
  padding: 18px 15px;
  margin-bottom: 17px;

  &.bg{
    background: $color-gray6;
    margin-bottom: 6px;
  }

  .comment-row{
    overflow: hidden;
  }
  .frame{
    position: relative;
  }
  .delete-link{
    position: absolute;
    left: -15px;
    top: 3px;
    @include sprite($del);
    display: block;
    text-indent: -9999px;

    &:hover{
      @include sprite($del-h);
    }
  }

  .photo{
    float: left;
    margin-right: 10px;
    .img{
      overflow: hidden;
      width: 36px;
      height: 36px;
      border: 1px solid $color-gray2;
      border-radius: 100px;
    }
  }
  .txt{
    float: right;
    width: calc(100% - 46px);
    padding-top: 4px;

    ul{
      list-style: initial;
      padding: 0 0 10px 40px;
    }
    ol{
      list-style: decimal;
      padding: 0 0 10px 40px;
    }
    em{
      font-style: italic;
    }
    strong{
      font-weight: 600;
    }
    a{
      color: $color-blue3;
    }
    .reply-link{
      font-size: 11px;
      line-height: 14px;
      font-weight: 300;
      text-decoration: underline;
      color: $color-dark-blue4;
      display: inline-block;
      margin: -5px 0 10px;
      vertical-align: top;

      &:hover{
        text-decoration: none;
      }
    }
  }
  .head{
    .name{
      color: $color-blue3;
      font-size: 15px;
      line-height: 17px;
      font-weight: 600;
      padding-right: 3px;
    }
    .date{
      color: $color-gray1;
      font-size: 11px;
      line-height: 17px;
      font-style: italic;

      .icon-time{
        font-size: 13px;
        color: $color-gray1;
        padding-left: 5px;
      }
    }
  }
  .author{
    color: $color-blue1;
    display: block;
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 7px;
  }
  .remark{
    @extend .author;
    color: $color-gray1;
  }
  a{
    color: inherit;

    &:hover{
      text-decoration: underline;
    }
  }
  p{
    font-family: $noto_sans;
  }
  .secondary{
    padding: 8px 0 0 47px;

    &:last-child{
      padding-bottom: 8px;
    }
    .photo{
      margin-right: 8px;
      .img{
        width: 24px;
        height: 24px;
      }
    }
    p{
      font-size: 12px;
    }
  }
  .secondary + .secondary{
    padding-top: 1px;
  }
}
.comment-block{
  border-top: 1px solid $color-blue3;
  padding: 12px 0 6px;
}
.two-comment-block{
  overflow: hidden;
  padding-bottom: 20px;

  .delete-link{
    /*position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -5px;
    @include sprite($del);
    display: block;
    text-indent: -9999px;

    &:hover{
      @include sprite($del-h);
    }*/

    position: absolute;
    right: 12px;
    top: 50%;
    width: 18px;
    height: 18px;
    margin-top: -9px;

    .svg-ico{
      display: block;
      fill: #bfc8d1;
    }
    &:hover{
      .svg-ico{
        fill: #9facb8;
      }
    }
  }
  .assigned-box{
    float: left;
    width: 62.5%;
    position: relative;
    box-sizing:border-box;
    border: 1px solid $color-gray4;
  }
  .photo-box{
    @extend .assigned-box;
    float: right;
    width: 35%;
  }
  h4{
    border-bottom: 1px solid $color-gray4;
    margin: 0;
    padding: 10px 26px 8px 13px;
    color: $color-dark-blue4;
    font-size: 15px;
    font-weight: normal;
    position: relative;

    .ico{
      font-size: 12px;
      color: $color-blue3;
    }
  }
  .frame{
    padding: 15px 15px 23px;
  }
  .photo-load{
    height: 63px;

    a{
      display: block;
      width: 39px;
      height: 100%;
      margin: 0 auto;
      background: url("../images/ico-add-photo.png") no-repeat 50% 50%;
    }
  }
}

.three-boxes{
  overflow: hidden;
  border-top: 1px solid $color-gray4;
  padding: 10px 0 26px;

  .box{
    float: left;
    width: 33.33%;
    text-align: center;
  }
  h4{
    margin: 0 0 5px;
    color: $color-gray1;
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
  }
  ul{
    margin: 0;

    li{
      font-size: 11px;
      line-height: 14px;
      padding-bottom: 5px;
    }
    a{
      color: $color-dark-blue4;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.linked-store{
  background: $color-dark-blue4;
  overflow: hidden;
  line-height: 14px;
  padding: 11px 15px;

  .ttl{
    float: left;
    color: $color-gray2;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  ul{
    float: right;
    margin: 0;

    li{
      float: left;
      font-size: 11px;
      font-weight: 700;
      padding-left: 20px;
      color: $color-white;
    }
    a{
      color: inherit;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}
.jcf-scrollable-wrapper{
  width: calc(100%) !important;

  .news-list-scroll{
    width: calc(100%) !important;
  }
}

