.home-holder{
  width: 100%;
  .head{
    position: relative;
    margin: -12px -26px 26px;
    img{
      width: 100%;
    }
    .txt{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      box-sizing:border-box;
      color: $color-white;
      padding: 0 25px 15px;

      h2{
        margin: 0 0 3px;
      }
      .frame{
        overflow: hidden;
      }
      .name{
        font-size: 14px;
        float: left;
      }
      .date{
        font-size: 11px;
        float: right;
        position: relative;
        top:3px;
      }
    }
  }
}
.store-row{
  margin: 0 -1px;
  padding-bottom: 22px;

  @include portrait{
    padding-bottom: 32px;
  }

  .head-store{
    border-bottom: 1px solid $color-gray5;
    padding-bottom: 9px;
    margin-bottom: 6px;

    span{
      display: block;
      color: $color-gray2;
      font-size: 9px;
      line-height: 13px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
    }
    strong{
      display: block;
      color: $color-dark-blue3;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  .store{
    margin: 0 0 0 -10px;
    overflow: hidden;

    li{
      float: left;
      width: 33.33%;
      padding: 0 0 10px 10px;
      box-sizing:border-box;
      color: $color-white;

      a{
        color: inherit;
      }
    }
    .frame{
      display: table;
      width: 100%;
      height: 72px;
    }
    .ico{
      display: table-cell;
      width: 25px;
      background: $color-blue2;
      height: 100%;
      vertical-align: middle;
      text-align: center;

    }
    .text{
      display: table-cell;
      background: $color-blue3;
      height: 100%;
      vertical-align: middle;
      padding: 0 11px;

      strong{
        display: block;
        font-size: 31px;
        line-height: 36px;
        font-weight: 700;
      }
      span{
        display: block;
        font-size: 11px;
        line-height: 14px;
        font-weight: 600;
        padding-bottom: 6px;
      }
    }
  }
}
