.fancybox-overlay{
  background: rgba(41, 58, 75, 0.75) !important;
}
.fancybox-skin{
  border-radius:  0 !important;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.6) !important;
  background: $color-white !important;
}
.popup{
  box-sizing:border-box;
  width: 400px;
  background: $color-white;
  text-align: center;
  padding: 42px 15px;

  h3{
    margin: 0 0 5px;
    font-size: 15px;
    line-height: 17px;
    font-weight: 600;
    color: $color-dark-blue3;
  }
  p{
    margin: 0 0 15px;
    font-size: 11px;
    line-height: 14px;
    font-weight: 600;
    color: $color-gray1;
  }
  .btn-line{
    text-align: center;
    padding: 18px 0 0;

    a{
      display: inline-block;
      background: $color-blue3;
      border: 1px solid $color-gray3;
      height: 34px;
      width: 108px;
      font-size: 11px;
      line-height: 34px;
      font-weight: 600;
      color: $color-white;
      margin: 0 14px;

      &.not{
        background: $color-blue1;
      }
      span{
        display: inline-block;
      }
      .ico-yes{
        background: url("../images/ico-yes.png") no-repeat;
        width: 11px;
        height: 8px;
      }
      .ico-not{
        background: url("../images/ico-not.png") no-repeat;
        width: 9px;
        height: 8px;
      }
    }
  }
}
.g-hidden{
  position: absolute;
  left: -99999px;
  top: -99999px;
}
