#sidebar{
  .head{
    height: 48px;
    background-color: $color-blue1;
  }
}
.side-holder{
  padding: 31px 0 0 20px;
  box-sizing:border-box;

  @include portrait{
    padding: 0 5px;
    width: 48px;
  }
}
.aside-box{
  padding-bottom: 26px;

  @include portrait{
    border-bottom: 1px solid $color-dark-blue4;
    padding: 12px 0;
    text-align: center;

    &.no-active{
      display: none;
    }
  }

  .title{
    font-size: 9px;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid $color-dark-blue4;
    letter-spacing: 1px;
    padding-bottom: 6px;
    margin-bottom: 14px;

    @include portrait{
      display: none;
      font-size: 11px;
    }

    a{
      color: $color-gray2;
      display: block;
      position: relative;
      margin-right: 9px;

      &:after{
        position: absolute;
        right: 4px;
        top: 0;
        color: $color-gray3;
        font-size: 12px;
        font-weight: normal;
        content:'+';
      }
    }
  }
  &.opened{
    .title{
      a{
        &:after{
          content:'-';
        }
      }
    }
  }
  .slide{

  }
}
.aside-list{
  margin: 0;
  li{
    font-size: 11px;
    line-height: 14px;
    font-weight: 300;
    margin: 0 0 8px;

    @include portrait{
      display: none !important;
      margin: 0 -10px;
      /*font-size: 13px;*/
    }

    &.active{
      font-weight: bold;
      border-left: 3px solid $color-blue3;
      padding-left: 8px;

      @include portrait{
        display: block !important;
        border: 0;
        padding: 0;
      }
      .txt{
        @include portrait{
          display: block;
        }
      }
      .ico + .txt{
        @include portrait{
          display: none;
        }
      }
      .status + .txt{
        @include portrait{
          display: none;
        }
      }
      .status{
        margin-left: 0;
      }
    }
    &.selected{
      font-weight: bold;

      @include portrait{
        display: block !important;
      }
    }
    &.no-visible-tablet-text{

      &.active{
        .txt{
          @include portrait{
            display: none;
          }
        }
        a{
          display: inline;
        }
      }
      .txt{
        @include portrait{
          display: none;
        }
      }
    }
  }
  .txt{
    @include portrait{
      display: none;
    }
  }
  a{
    color: $color-white;
    display: inline-block;
    padding: 1px 0;
    vertical-align: top;

    &:hover{
      font-weight: bold;
    }
  }
  .ico{
    padding-right: 5px;

    @include portrait{
      padding: 0;
    }
  }
  .num{
    border-radius: 7px;
    display: inline-block;
    color: $color-white;
    background: $color-blue3;
    margin-left: 5px;
    padding: 0 5px;
    font-weight: 700;
    font-size: 9px;
    height: 12px;
    line-height: 12px;
    vertical-align: top;
    position: relative;
    top:3px;

    /*@include tablet{
      line-height: 13px;
    }
    @include tablet-plus{
      line-height: 13px;
    }*/

    @include portrait{
      display: none;
    }
  }
  .status{
    margin: 0 6px 0 0;
    position: relative;
    top:2px;

    @include portrait{
      margin: 0;
    }
  }
}
.two-list{
  /*overflow: hidden;*/
  @extend %clearfix;

  .aside-list{
    float: left;
    width: 40%;
    box-sizing:border-box;

    @include portrait{
      float: none;
      width: 100%;
    }

    & + .aside-list{
      padding-left: 6px;
    }

  }
}
.status{
  display: inline-block;
  width: 10px;
  height: 10px;
  background: $color-black;
  border: 1px solid $color-white;
  border-radius: 5px;
  text-indent: -9999px;
  vertical-align: top;

  &.new{
    background: $color-red;
  }
  &.in-progress{
    background: $color-yellow;
  }
  &.dealt  {
    background: $color-gray2;
  }
}
.mobile-menu {
  overflow: hidden;
  width: 48px;
  height: 48px;
  text-indent: -9999px;
  appearance: none;
  transition: background 0.3s;
  position: absolute;
  left: 0;
  top: 0;
  background: $color-blue1;
  display: none;
  z-index: 20;

  @include portrait{
    display: block;
  }

  span{
    display: block;
    position: absolute;
    top: 23px;
    left: 15px;
    right: 15px;
    height: 2px;
    background: $color-white;
    transition: background 0s 0.3s;

    &:before,
    &:after{
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: $color-white;
      content: "";
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
    }
    &:before{
      top: -7px;
      transition-property: top, transform;
    }
    &:after{
      bottom: -7px;
      transition-property: bottom, transform;
    }
  }
  /*&.active{
    background: $color-white;

    span{
      background: none;

      &:before{
        top: 0;
        transform: rotate(45deg);
        transition-delay: 0s, 0.3s;
        background: #fff;
      }
      &:after{
        bottom: 0;
        transform: rotate(-45deg);
        transition-delay: 0s, 0.3s;
        background: #fff;
      }
    }
  }*/
}
.overlay{
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(28, 45, 62, 0.6);
  width: calc(100% - 200px);
  height: 100%;
  z-index: 11;
  display: none;
}
.no-visible-tablet-bar{
  @include portrait{
    display: none;
  }
}
.wrapp-aside{
  position: relative;
  .aside-open-box{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    cursor: pointer;
    display: none;

    @include portrait{
      display: block;
    }
  }
}
.open-aside{
  .no-visible-tablet-bar{
    @include portrait{
      display: block;
    }
  }
  .wrapp-aside{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background: $color-dark-blue3;
    box-shadow: 0 0 25px $color-dark-blue3;
    z-index: 120;

    .aside-open-box{
      display: none;
    }
  }
  .overlay{
    display: block;
  }

  .logo{
    @include portrait{
      display: block;
    }
  }

  .mobile-menu{
    @include portrait{
      display: none;
    }
  }

  .side-holder{
    @include portrait{
      padding: 31px 0 0 20px;
      width: auto;
    }
  }

  .aside-box{
    @include portrait{
      border: 0;
      padding: 0 0 26px;
      text-align: left;

      &.no-active{
        display: block;
      }
    }
    .title{
      @include portrait{
        display: block;
      }
    }
  }
  .aside-list{
    li{
      @include portrait{
        display: block !important;
        margin: 0 0 8px;
        font-size: 13px;
      }

      &.active{

        @include portrait{
          display: block !important;
           border-left: 3px solid $color-blue3;
          padding-left: 8px;
        }
        .txt{
          @include portrait{
            display: inline;
          }
        }
        .ico + .txt{
          @include portrait{
            display: inline-block;
          }
        }
        .status + .txt{
          @include portrait{
            display: inline-block;
          }
        }
      }
      &.no-visible-tablet-text{
        .txt{
          @include portrait{
            display: inline;
          }
        }
      }
      &.selected{

        @include portrait{
          display: block !important;
        }
      }
    }
    .txt{
      @include portrait{
        display: inline-block;
      }
    }
    .ico{
      @include portrait{
        padding-right: 5px;
      }
    }
    .num{
      @include portrait{
        display: inline-block;
      }
    }
    .status{
      @include portrait{
        margin: 0 6px 0 0;
      }
    }
  }
  .two-list{
    .aside-list{
      @include portrait{
        float: left;
        width: 40%;
      }
    }
  }
  .aside-search{
    @include portrait{
      display: block;
    }
  }
}
.aside-scroll{
  overflow: auto;
}
