.pane-iris-kpi-users-filters .exposed-filters .form-text,
.pane-iris-kpi-news-filters .exposed-filters .form-text {
  margin: 0.5em;
}

.pane-iris-kpi-users-per-role,
.pane-iris-kpi-users-per-company,
.pane-iris-kpi-news-per-universe,
.pane-iris-kpi-news-created-per-month {
  min-height: 500px;
}

.page-admin-users-kpi .users-kpi-chart,
.page-admin-news-kpi .news-kpi-chart {
  width: 40%;
  float: right;
}

.page-admin-users-kpi .users-kpi-table,
.page-admin-news-kpi .news-kpi-table-with-chart {
  width: 58%;
  min-height: 500px;
}

.page-admin-news-kpi .news-kpi-table-2-cols {
  width: 58%;
  padding-bottom: 20px;
}

.page-admin-news-kpi .news-kpi-table {
  padding-bottom: 20px;
}

.pane-iris-kpi-news-filters .form-submit {
  margin: 0 10px;
}

.page-admin-users-kpi table th.p5,
.page-admin-news-kpi table th.p5 {
  width: 5%;
}

.page-admin-users-kpi table th.p10,
.page-admin-news-kpi table th.p10 {
  width: 10%;
}

.page-admin-users-kpi table th.p15,
.page-admin-news-kpi table th.p15 {
  width: 15%;
}

.page-admin-users-kpi table th.p20,
.page-admin-news-kpi table th.p20 {
  width: 20%;
}

.page-admin-users-kpi table th.p50,
.page-admin-news-kpi table th.p50 {
  width: 50%;
}

.page-admin-users-kpi table th.p60,
.page-admin-news-kpi table th.p60 {
  width: 60%;
}
