#main {
  height: 100%;
  background-color: #fff;
}

form {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -30%, 0);
  -moz-transform: translate3d(-50%, -30%, 0);
  -ms-transform: translate3d(-50%, -30%, 0);
  -o-transform: translate3d(-50%, -30%, 0);
  transform: translate3d(-50%, -30%, 0);
}

.form input[type='submit'] {
  width: 100%;
}

form .form-actions {
  margin-top: 20px;
}

form h2 {
  margin-bottom: 60px;
  text-align: center;
}

.form input.form-text {
  width: 200px;
}

.not-logged-in header .head {
  width: 180px;
  background-color: transparent;
}

.not-logged-in header .head .logo {
  display: block;
}

div.wrapper {
  min-width: 90%;
}
