#main {
  height: 100%;
  background-color: #fff;
}

#main .form {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

#main .form input[type="text"],
#main .form select,
#edit_timezone__2_chosen,
#edit_og_user_taxonomy_term_und_chosen {
  width: 100% !important;
}

.imagefield-crop-widget img {
  max-width: none;
}

.imagefield-crop-preview {
  padding-bottom: 15px;
}

.imagefield-crop-cropbox {
  padding-bottom: 15px;
}

.field-name-field-user-picture input[type="file"] {
  padding-bottom: 15px;
}

.field-name-field-user-picture li {
  display: none;
}

.chosen-container-multi .chosen-choices {
  max-height: 200px;
  overflow-y: scroll;
}
