.views-exposed-form .description {
    display: none;
}

.form-item .form-item.form-item-date-from-value-date,
.form-item .form-item.form-item-date-to-value-date,
.form-item .form-item.form-item-date-filter-min-date,
.form-item .form-item.form-item-date-filter-max-date,
.form-item .form-item.form-item-date-filter-value-date,
.form-item .form-item.form-item-date-filter-1-value-date,
.form-item .form-item.form-item-date-filter-2-value-date,
.form-item .form-item.form-item-date-filter-3-value-date{
    padding: 0;
}

#edit-date-filter-min-wrapper,
#edit-date-filter-max-wrapper {
    float: left;
}

#edit-date-filter-min-wrapper {
    margin-right: 1.5em;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    padding: 4px 7px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 16px;
}

.views-exposed-form .views-exposed-widget {
    float: none;
    display: inline-block;
    vertical-align: top;
}

.views-exposed-form .form-select,
.views-exposed-form .default,
.views-exposed-form .form-text {
    width: 10em;
}

.views-promotion-validation-column {
    width: 21px;
    height: 21px;
    margin: auto;
}

.validation-with-results {
    background-image: url("../../../../themes/adminimal_theme/css/images/status.svg");
}

.validation-no-results {
    background-image: url("../../../../themes/adminimal_theme/css/images/error.svg");
}

.chosen-container-single .chosen-drop {
    box-sizing: border-box;
}