.news-step-left, .news-step-right {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.form-managed-file .form-text {
    width: 90%;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    padding: 5px 7px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.field-type-text-with-summary .filter-wrapper.form-wrapper {
    display: none;
}

.field-widget-link-field .form-item {
    padding: 0;
}

.field-widget-link-field .form-item label {
    font-weight: 500;
}

.field-widget-link-field .form-item .field-add-more-submit  {
    display: none;
}

.field-widget-link-field .form-item table th {
    background: none;
}

body.adminimal-skin-material .field-widget-link-field .form-item table.tableheader-processed {
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.18);
}

.node-news-form .news-step-right input.form-autocomplete {
    max-width: 100%;
}
